{% extends "adminuser/base.html" %}
{% load pagination_tags %}
{% block title %}Projects{% endblock %}
{% block pageheader %}
    <div class="pageheader">
        <h2><i class="fa fa-home"></i> Project<span>人工推荐管理</span></h2>
        <div class="breadcrumb-wrapper">
            <span class="label">You are here:</span>
            <ol class="breadcrumb">
                <li><a href="{% url 'adminuser.index' %}">NewChama</a></li>
                <li class="active">Project</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <h4 class="mb30"><a href="{% url 'project.detail' project.pk %}" target="_blank">{{project.name_cn}}</a>  {{project.name_en}} （Total Recommend：{{total_num}}）</h4>

    <div class="table-responsive">
        <h4 style="margin-bottom:30px;">项目匹配信息</h4>
        <table class="table table-primary mb30">
            <thead>
            <tr>
                <th>用户关键词</th>
                <th>BD添加关键词</th>
                <th>交易类型</th>
                <th>币种</th>
                <th>交易规模</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% for keyword in project.project_keyword.all %}
                            {{ keyword.keyword }},
                        {% endfor %}
                    </td>
                    <td>
                        {% for keyword in project.project_keyword_admin.all %}
                            {{ keyword.keyword }},
                        {% endfor %}
                    </td>
                    <td>
                        {% for deal_type in project_category_lst %}
                            {{ deal_type }}, <br/>
                        {% endfor %}
                    </td>
                    <td>{{ project.get_pay_currency_display }}</td>
                    <td>{{ project.deal_size }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <h4 style="margin-bottom:30px;">Final List（No. {{man_list_count}}）  <a class="btn btn-default" href="###" style="float:right;" id="one_click_btn">一键发送</a></h4>
        <table class="table table-primary mb30">
            <thead>
            <tr>
                <th>
                    <div class="ckbox ckbox-success">
                        <input type="checkbox" id="checkbox_all">
                        <label for="checkbox_all"></label>
                    </div>

                </th>
                <th>推荐人</th>
                <th>#</th>
                <th>用户名称</th>
                <th>所属公司</th>
                <th>匹配来源</th>
                <th>命中tags</th>
                <th>交易类型</th>
                <th>规模&币种</th>
                <th>推荐得分</th>
                <th>标星</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for m, t in man_list %}
                <tr>
                    <td>
                        <div class="ckbox ckbox-success">
                            <input type="checkbox" id="check_{{ m.member.id }}" name="check_member" class="check_member" value="{{ m.id }}"  rel ="{{ m.member.id }}">
                            <label for="check_{{ m.member.id }}"></label>
                        </div>
                    </td>
                    <td>
                        {% if m.is_man %}
                            BD推荐
                        {% else %}
                            用户推荐
                        {% endif %}
                    </td>
                    <td>{{ m.member.id }}</td>
                    <td><a href="{% url 'member.edit' m.member.id %}" target="_blank">{{ m.member.first_name}}</a></td>
                    <td><a href="{% url 'company.edit' m.member.company.id %}" target="_blank">{{ m.member.company.short_name_cn}}</a></td>
                    <td>{{ m.get_need_type_display }}</td>
                    <td>{{ m.matched_tags }}</td>
                    <td>
                        {% for category in t.deal_category.all %}
                            {{ category.get_category_display }},<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% widthratio t.deal_size_min 1000000 1 %}M ~
                        {% widthratio t.deal_size_max 1000000 1 %}M
                        {{ t.get_deal_currency_display }},</td>
                    <td>{{ m.sum_member_score}}</td>
                    <td>{{ m.is_star_cn|default:''}}</td>
                    <td>
                        <a href="{% url 'project.recommend_member_toprank' m.id %}" title="置顶">置顶</a>&nbsp;&nbsp;
                        <a href="{% url 'project.recommend_member_uprank' m.id %}" title="上移">上移</a>&nbsp;&nbsp;
                        <a href="{% url 'project.recommend_member_downrank' m.id %}" title="下移">下移</a>&nbsp;&nbsp;
                        {% if m.is_star %}
                            <a href="{% url 'project.recommend_member_unstar' m.id %}" title="取消标星">取消标星</a>&nbsp;&nbsp;
                        {% else %}
                            <a href="{% url 'project.recommend_member_star' m.id %}" title="标星">标星</a>&nbsp;&nbsp;
                        {% endif %}
                        <a href="{% url 'project.recommend_member_remove' m.id %}" title="移除">移除</a>&nbsp;&nbsp;
                        <a href="{% url 'project.recommend_member_detail' m.id %}" title="详细">详细</a>&nbsp;&nbsp;
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br/><br/>

        <h4>Recommend（No. {{recommend_list_count}}）</h4>
        <table class="table table-primary mb30">
            <thead>
            <tr>
                <th>#</th>
                <th>用户名称</th>
                <th>所属公司</th>
                <th>匹配来源</th>
                <th>命中tags</th>
                <th>交易类型</th>
                <th>规模&币种</th>
                <th>得分</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% autopaginate recommend_list 10 %}
            {% for m, t in recommend_list %}
                <tr>
                    <td>{{ m.member.id }}</td>
                    <td><a href="{% url 'member.edit' m.member.id %}" target="_blank">{{ m.member.first_name }}</a></td>
                    <td><a href="{% url 'company.edit' m.member.company.id %}" target="_blank">{{ m.member.company.short_name_cn}}</a></td>
                    <td>{{ m.get_need_type_display }}</td>
                    <td>{{ m.matched_tags }}</td>
                    <td>
                        {% for category in t.deal_category.all %}
                            {{ category.get_category_display }},<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% widthratio t.deal_size_min 1000000 1 %}M ~
                        {% widthratio t.deal_size_max 1000000 1 %}M
                        {{ t.get_deal_currency_display }} </td>
                    <td>{{ m.sum_member_score}}</td>
                    <td>
                        <a href="{% url 'project.recommend_member_add' m.id %}?page={{ curr_page }}" title="推荐">推荐</a>&nbsp;&nbsp;
                        <a href="{% url 'project.recommend_member_delete' m.id %}?page={{ curr_page }}" title="删除">删除</a>&nbsp;&nbsp;
                        <a href="{% url 'project.recommend_member_detail' m.id %}?page={{ curr_page }}" title="移除">详细</a>&nbsp;&nbsp;
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        {% paginate %}

        <br/><br/>

        <h4>Manual</h4>
        <form class="form-inline mb60"  method="post" name="myform" id='myform'>
            {% csrf_token %}


            <input type="text" placeholder="Input Member Name" id="add_name" name="add_name" value="" class="form-control" style="width:300px;" />
            <input type="hidden" value="" name="addmember_id" id="addmember_id">
            <input type="hidden" value="{{project.id}}" name="addmember_project_id" id="addmember_project_id">
            <input type="hidden" name="page" value="{{ curr_page }}">
            <button type="button"class="btn btn-primary"  id="add_name_btn" onclick="checkform();">add</button>
        </form>

        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>



{% endblock %}

{% block customjs %}
    <script>
        var is_all=false;
        var _project_id ={{project.id}} ;
        var _operate=1;

        $(document).ready(function(){
            $('#checkbox_all').click(function(){

                if(is_all==false){
                    $('.check_member').prop("checked",true);
                    is_all=true;
                }else{
                    $('.check_member').prop("checked",false);
                    is_all=false;
                }
            });


            $('#one_click_btn').click(function(){
                var _itemIds= new Array();
                var _memberIds=new Array();
                $(".check_member").each(function(){
                    if (true == $(this).prop("checked")) {
                        _itemIds.push($(this).val());
                        _memberIds.push($(this).attr('rel'))
                    }});
                //alert(itemIds.join(','));
                //alert(memberIds.join(','));

                if(confirm('Are you confirm send push mail for this project?'))
                {
                    var url = "/project/genuissavenew";
                    jQuery.post(url,{'operate':_operate,'itemIds':_itemIds.join(','),'memberIds':_memberIds.join(','),'project_id':_project_id},function(data){
                        if(data=="success")
                        {
                            location.reload();
                        }else
                        {
                            alert(data);
                        }
                    });
                }
            });
        });

        function checkform()
        {
            if ($('#addmember_id').val()!=''){
                myform.submit();
            }
            else{
                alert('请输入正确的用户名称！');
            }
        }

        $("#add_name").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/project/get_members/"+request.term,
                    dataType: "json",
                    success: function( jsonResponse ) {
                        var data = $(jsonResponse).map(function(id,item) {
                            return {
                                value: item['first_name'],
                                label: item['first_name'] + ":" + item['id'],
                                id: item['id']
                            };
                        });
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function( event, ui ) {
                SelectedMember(ui.item.id,ui.item.value);
            }
        });

        function SelectedMember(id,first_name)
        {
            $('#addmember_id').val(id);
            $('#add_name').val(first_name);

        }
    </script>
{% endblock %}
