<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上海显德投资管理有限公司</title>
    <meta name="Keywords" content="上海显德投资管理有限公司 " /> 
    <meta name="Description" content="上海显德投资管理有限公司（Vantage Capital）是一家国际化专业的资产管理公司，于2011年成立，注册资金2000万人民币，在国际金融中心香港、上海均设有机构，面向全球金融市场投资于证券、外汇、基金、债券、衍生品等投资工具，以量化对冲基金发展模式，并多年在海外市场持续稳健盈利。" />

    <link href="{{STATIC_URL}}common/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/xiande.css">
    
  </head>
<body>
<div class="container-fluid">
    <div class="row heading">
        <div class="col-md-12">
        <h1>个人中心</h1>
        </div>
    </div>

     <div class="row content">
        <div class="col-md-12">


        <p class="bb">我的资料</p>
        
        </div>


        <div class="col-md-12">

            <table class="tb1">
                 <tr>
                    <td class="tb1_label">姓名：</td>
                    <td>{{u.user.first_name}}</td>
                </tr>
                <tr>
                    <td class="tb1_label">性别：</td>
                    <td>{{u.user.get_gender_display}}</td>
                </tr>
                <tr>
                    <td class="tb1_label">手机：</td>
                    <td>{{u.user.mobile}}</td>
                </tr>
                <tr>
                    <td class="tb1_label">地址：</td>
                    <td>{{u.user.address}}</td>
                </tr>
{#                <tr>#}
{#                    <td class="tb1_label">投资人：</td>#}
{#                    <td>{{u.user.first_name}}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>客户编号：</td>#}
{#                    <td>{{u.contract_no | default:'N/A'}}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>合同编号：</td>#}
{#                    <td>{{u.fund_customer_number | default:'N/A'}}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>项目编号：</td>#}
{#                    <td>{{u.fund_item_number | default:'N/A'}}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>资金：</td>#}
{#                    <td>{{u.amount | default:'N/A'}}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>收益/分配：</td>#}
{#                    <td>{{u.get_assign_type_display | default:'N/A'}}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>签约时间：</td>#}
{#                    <td>{{u.signed_time | default:'N/A'}}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>合约期限：</td>#}
{#                    <td>{{u.contract_start_time | default:'N/A'}}-{{u.contract_end_time | default:'N/A'}}</td>#}
{#                </tr>#}
                
            </table>
        </div>
        <div class="col-md-12">

        <br/>
        {% if u.is_investment %}
        <a class="center-block btn btn-danger" href="{% url 'member.assets' %}">查看我的收益</a>
        {% else %}
        <p>您还不是显德的基金正式客户！</p>
        <a class="center-block btn btn-danger" href="{% url 'member.join' %}">我要投资</a>
        
        {% endif %}
        <br/>
        <a class="center-block btn btn-default" href="{% url 'member.logout' %}">退出账号</a>
        </div>


    </div>
</div>
</div>

<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.cookies.js"></script>


</body>
</html>