<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上海显德投资管理有限公司</title>
    <meta name="Keywords" content="上海显德投资管理有限公司 " /> 
    <meta name="Description" content="上海显德投资管理有限公司（Vantage Capital）是一家国际化专业的资产管理公司，于2011年成立，注册资金2000万人民币，在国际金融中心香港、上海均设有机构，面向全球金融市场投资于证券、外汇、基金、债券、衍生品等投资工具，以量化对冲基金发展模式，并多年在海外市场持续稳健盈利。" />

    <link href="{{STATIC_URL}}common/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/xiande.css">
    
  </head>
<body>
<div class="container-fluid">
    <div class="row heading">
        <div class="col-md-12">
        <h1>关于我们</h1>
        </div>
    </div>

     <div class="row content">
        <div class="col-md-12">
        <p>上海显德投资管理有限公司（Vantage Capital）是一家国际化专业的资产管理公司，于2011年成立，注册资金2000万人民币，在国际金融中心香港、上海均设有机构，面向全球金融市场投资于证券、外汇、基金、债券、衍生品等投资工具，以量化对冲基金发展模式，并多年在海外市场持续稳健盈利。  </p>
            <p>国际化的团队带给我们国际化的视野，公司主要合伙人曾在新加坡、香港、中国大陆取得过丰富的投资经验及良好业绩，公司员工具有较高的专业素养和实践经验，其中，15%获得美国特许金融分析师（ CFA ）资格，45%的员工具有海外教育背景和海外金融业从业经验，90%硕士及以上学历，1名门萨俱乐部（Mensa International）终身会员，团队中基金经理是相关模型全球冠军团队成员。  </p>
            <p>公司拥有中国证监会颁发的私募投资基金管理登记证书（编号：P1004704），公司的对冲基金产品以理性稳健的风格赢得投资者的信赖，独特的角度帮助投资者进行全球资产配置、增值。</p>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.cookies.js"></script>


</body>
</html>