<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上海显德投资管理有限公司</title>
    <meta name="Keywords" content="上海显德投资管理有限公司 " /> 
    <meta name="Description" content="上海显德投资管理有限公司（Vantage Capital）是一家国际化专业的资产管理公司，于2011年成立，注册资金2000万人民币，在国际金融中心香港、上海均设有机构，面向全球金融市场投资于证券、外汇、基金、债券、衍生品等投资工具，以量化对冲基金发展模式，并多年在海外市场持续稳健盈利。" />

    <link href="{{STATIC_URL}}common/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/xiande.css">
    
  </head>
<body>
<div class="container-fluid">
    <div class="row heading">
        <div class="col-md-12">
        <h1>关于我们</h1>
        </div>
    </div>

     <div class="row content">
        <div class="col-md-12">
        <h3>Q:港股是什么？</h3>
        <p>A:港股指在香港联合交易所上市的股票。香港的股票市场比国内的成熟、理性，对世界的行情反映灵敏。如果国内的股票有同时在国内和香港上市的，形成“A+H”模式，可以根据它在香港股市的情况来判断A股的走势。</p>

        <h3>Q:H股与A股的区别有什么？</h3>
        <p>A:H股交易是用港币，A股交易时用人民币；<br/>
            H股t+0交易制度，A股t+1交易制度。<br/>
H股当日无涨跌幅限制，A股每日10%的涨跌幅限制，st类股票5%的涨跌幅限制。<br/>
H股交易时间9:30~12:00和13:00~16:00，A股交易时间9:30~11:30和13:00~15:00。<br/>
有些中国特有的节日A股休市，H股不休市的；有些国外特有的节日，H股休市，而A股不休市。
        </p>
        
        <h3>Q:量化投资是什么?与传统投资的区别？</h3>
        <p>A:量化投资就是借助现代统计学、数学的方法，从海量历史数据中寻找能够带来超额收益的多种“大概率”策略，并纪律严明地按照这些策略所构建的数量化模型来指导投资，力求取得稳定的、可持续的、高于平均的超额回报。<br/>
量化交易和传统交易没有什么本质上的不同。都是先对历史数据进行分析，寻找“大概率”规律，然后形成交易策略，并对交易策略进行实施。区别在于量化交易使用数学工具和计算机作辅助，这使得我们能更好的归纳市场运行的规律，对很多原本似是而非的概念有更加准确的认识。然后用程序化交易来更加精确的下单和管住自己的手。</p>

        <h3>Q：私募基金是什么？</h3>
        <p>A：私募基金是私下或直接向特定群体募集的资金。与之对应的公募基金是向社会大众公开募集的资金。人们平常所说的基金主要是共同基金，即证券投资基金。私募和公募的最大区别是激励机制、盈利模式、监管、规模等方面，具体的投资手法，尤其是选股标准在同一风格下都没有什么不同。</p>

        <h3>Q:对冲基金是什么？</h3>
        <p>A:对冲基金（hedge fund），也称避险基金或套利基金，是指由金融期货（financial futures）和金融期权（financial option）等金融衍生工具（financial derivatives）与金融组织结合后以高风险投机为手段并以盈利为目的的金融基金。它是投资基金的一种形式，属于免责市场(exempt market)产品。意为“风险对冲过的基金”，对冲基金名为基金，实际与互惠基金安全、收益、增值的投资理念有本质区别。</p>

        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.cookies.js"></script>


</body>
</html>