<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上海显德投资管理有限公司</title>
    <meta name="Keywords" content="上海显德投资管理有限公司 " /> 
    <meta name="Description" content="上海显德投资管理有限公司（Vantage Capital）是一家国际化专业的资产管理公司，于2011年成立，注册资金2000万人民币，在国际金融中心香港、上海均设有机构，面向全球金融市场投资于证券、外汇、基金、债券、衍生品等投资工具，以量化对冲基金发展模式，并多年在海外市场持续稳健盈利。" />

    <link href="{{STATIC_URL}}common/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}common/css/xiande.css">
    
  </head>
<body>
<div class="container-fluid">
    <div class="row heading">
        <div class="col-md-12">
        <h1>投资理念</h1>
        </div>
    </div>

     <div class="row content">
        <div class="col-md-12">
        <p>基金针对股票市场的波动变化，争取出色的风险调整收益率。以量化投资模型分析全球宏观经济数据，配合技术分析作为交易指标，采用风险控制方法来构建投资组合。基金专门投资于具有流动性和深度市场化的股票及期权，自成立以来一直表现出稳定的超额收益。</p>
        <p>基金管理团队核心成员具备金融、精算、计算机工程等专业知识，建立出捕捉衍生品超额收益的6套量化模型。与传统Delta-One的对冲基金投资策略相比，基金具有非线性回归的独特优势，以致投资表现明显优于同类别投资。
        </p>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.cookies.js"></script>

</body>
</html>