body {padding-top: 60px; background: #313131; }
.container{width: 100%; padding: 0px;}
.navbar { height: 60px; background: #fff; font-size: 12px; padding: 0px 15px;box-shadow: 0 0 4px #666;}
.nav>li>a{padding: 10px 4px;}
.change_language{margin-top: 6px; margin-right: 15px;}


.bigtop{background: url(../images/shanghai.jpg) center center no-repeat; height: 600px; width:100%;background-size:cover; position: relative; overflow: hidden;}

.flow{width: 480px; height: 300px; top: 50%; margin-top: -150px; position: absolute; right: 0;
    background: #1d83c7;color: #fff; padding: 30px; opacity: 0.9; filter: alpha(opacity=90); -webkit-transition: opacity 0.9s; -moz-transition: opacity 0.9s; transition: opacity 0.9s; }
.flow h3{font-size: 24px; margin-top: 10px;}
.flow span{font-size: 18px;}
.flow p{margin: 25px 0px;}
.footer{text-align: center; font-size: 12px; color: #ffffff; padding:20px;}
.footer a{color: #fff;}