{% extends "common/en-us/nologin_base.html" %}
{% block content %}
    <div class="container-fluid" id="newchama_logo_main" style="width:70%;">
        <div class="col-xs-12">
            <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Business Partnership</h3>
          </div>
          <div class="panel-body">
          <br/>
               



<p>
NewChama is looking forward to building up partnership with investors, lisetd companies, securities, securitiy dealers, investment banks, accounting firms and law firms in China and abroad. Putting the benefits and privacy of our clients as a top priority, we look for strategy partnership opportunities with professional institutions. </p>

<p>Please contact us via e-mail and we will reply to you soon.</p>

<p>Business@newchama.com</p>

<br/>
<br/>

          
          </div>
        </div>
        </div>
    </div>
<div style="clear:both;"></div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/fix_height.js"></script>

   
{% endblock %}