<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewChama 创新交互式的全球股权交易信息平台</title>
    <meta name="Keywords" content="并购平台,融资平台,股权平台,股权信息发布,交易服务,纽熙,茶马,茶马古道 " /> 
    <meta name="Description" content="NewChama是全球领先的股权交易与并购信息平台。截止今天，平台上的项目发布已达到数百个。NewChama帮助项目寻找遍及全球的投资者；同时，也为买方定位优质项目，提供投资决策的信息支持。" />
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="{{STATIC_PREFIX}}home/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_PREFIX}}home/css/mobile_newchama.css" rel="stylesheet">
     <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?690046ddb5b2d6eadafc3f2827c92b75";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    
  </head>
<body>
<div class="warpper" style="padding-bottom:40px;">
<div class="m_tag_list_block">


<h1>最有可能达成交易的买家</h1>

{% if id == '1' %}
<div class="m_tag_list">
  <p><strong>买家推荐: 民营汽车制造公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>收购汽车零部件公司，形成规模效益，增强盈利能力</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 国家重点高新技术企业</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>收购汽车零部件公司，丰富产品线，打造品牌影响力</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 汽车股份有限公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>收购汽车零部件公司，拓展上下游产业链，缩减成本</td>
    </tr>
  </table>
</div>

{% endif %}  

{% if id == '2' %}
<div class="m_tag_list">
  <p><strong>买家推荐: 电器机械及器材制造公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td> 收购医疗器械、大健康项目，拓展公司经营范围</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 国家级高新企业</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td> 收购医疗器械公司，加强公司产品生产能力</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 知名投行</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>投资银行</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>寻求医疗器械公司控股权收购</td>
    </tr>
  </table>
</div>

{% endif %}  

{% if id == '3' %}
<div class="m_tag_list">
  <p><strong>买家推荐: 大型制造业公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>培育公司新的盈利增长点</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 知名汽车公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>促进公司核心业务转型</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 大型工业企业</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>寻求收购新能源、内燃机项目，拓宽公司盈利能力和渠道</td>
    </tr>
  </table>
</div>

{% endif %}  

{% if id == '4' %}
<div class="m_tag_list">
  <p><strong>买家推荐: 药业公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>希望拓展公司新产品线</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 国内顶尖风投公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>VC</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>项目已具有盈利能力</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 国内知名投行</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>投资银行</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>希望收购医药制造公司</td>
    </tr>
  </table>
</div>

{% endif %}  

{% if id == '5' %}
<div class="m_tag_list">
  <p><strong>买家推荐: 国内一流综合性商业集团</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>寻求收购餐饮公司，实现股东权益最大化</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 大型文化旅游企业集团</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td> 收购餐饮公司，扩展产业链，增加公司盈利点</td>
    </tr>
  </table>
</div>
  
<div class="m_tag_list">
  <p><strong>买家推荐: 亚洲地区知名创投公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>VC</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td> 寻求餐饮行业投资</td>
    </tr>
  </table>
</div>

{% endif %}  

{% if id == '6' %}
<div class="m_tag_list">
  <p><strong>买家推荐: 专业医疗器械高科技公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td> 寻求收购收购医疗服务公司，扩大市场份额</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 民营医疗服务公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td> 收购医疗服务公司，拓展上下游产业链</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 领先健康管理机构</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td> 收购医疗服务公司，扩大业务增长能力</td>
    </tr>
  </table>
</div>

{% endif %}  

{% if id == '7' %}
<div class="m_tag_list">
  <p><strong>买家推荐: 润滑设备公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>收购节能环保、风电技术项目，以降低经营成本，实现规模扩张
      </td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 市场占有率领先的水表公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>收购海外节能环保项目，引进新技术，实现战略扩张</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 私募股权基金</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>PE</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>寻求投资先进制造业、节能环保项目</td>
    </tr>
  </table>
</div>

{% endif %}  

{% if id == '8' %}
<div class="m_tag_list">
  <p><strong>买家推荐: 知名国际投资机构</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>PE</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>希望项目具有良好增长速度</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 信息技术公司</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>通过收购实现股东利益最大化</td>
    </tr>
  </table>
</div>

<div class="m_tag_list">
  <p><strong>买家推荐: 科技集团</strong></p>
  <table>
    <tr>
      <td class="t1">买家类型:</td>
      <td>上市公司</td>
    </tr>
    <tr>
      <td class="t1">需求详情:</td>
      <td>通过收购增强公司抗风险能力</td>
    </tr>
  </table>
</div>

{% endif %}  

</div>
<div class="tag_btn_block">
  <a href="{% url 'home.m_step2' %}" class="big_btn_tag"><span>申请加入</span><br/>查看更多买家信息</a>
<a href="{% url 'account.login' %}" class="login_btn_tag">已有帐号,点击登录</a>
</div>

</div>
 <script src="{{STATIC_PREFIX}}js/libs/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
  $('.warpper').height($(document).height());
   
</script>
</body>
</html>