<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewChama 创新交互式的全球股权交易信息平台</title>
    <meta name="Keywords" content="并购平台,融资平台,股权平台,股权信息发布,交易服务,纽熙,茶马,茶马古道 " /> 
    <meta name="Description" content="NewChama是全球领先的股权交易与并购信息平台。截止今天，平台上的项目发布已达到数百个。NewChama帮助项目寻找遍及全球的投资者；同时，也为买方定位优质项目，提供投资决策的信息支持。" />
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="{{STATIC_PREFIX}}home/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_PREFIX}}home/css/mobile_newchama.css" rel="stylesheet">
     <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?690046ddb5b2d6eadafc3f2827c92b75";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    
  </head>
<body>
<div class="warpper">
<div class="tiaokuan">
<div class="col-xs-12">
 <p>
            www.newchama.com由【纽熙(上海)网络科技有限公司】经营。我们尊重每个用户（“您”或“用户”）的隐私。本隐私政策明确我们如何保护您的隐私，我们如何对待我们在网站上对识别单个用户所收集的信息（“个人信息”），以及我们如何汇总以及使用其信息。任何在本隐私政策中所引用之“服务协议”是指www.newchama.com之“服务协议”。
          </p>

          <p>
            一旦您注册或使用本网站，即表示您接受此隐私政策。如果您不同意本隐私政策，您不能使用本网站。我们有权在任何时间修改本政策的任何条款并在网站首页上贴出通知 (如有较重大的改变，我们有权选择其他的告示以补充通知)。您在其政策变更后对网站的使用代表您同意其隐私政策变更。
          </p>

          <p>
            本网站的服务器位于中华人民共和国（“中国”）。如果您不在中国，您的个人信息将被转移到中国。一旦您提交您的个人信息，你同意我们把您的信息转移到中国以按照本隐私协议存储，处理，和使用。
          </p>


          <h5>此隐私政策的范围</h5>

          <p>本隐私政策仅适用于本网站的使用。 我们不拥有，经营或控制我们的关联机构网站（如有）或任何第三方在本网站所提供的链接。本隐私政策并不适用于我们的分支机构或第三方网站收集，使用，储存和披露您的个人信息。</p>
          
          <h5>1.您的个人信息的收集和使用</h5>

          <p>我们在网站上收集您的个人信息的目的是为了提升我们为您提供的服务。 我们只会收集在您为了获得某些服务或信息所提交之个人信息，包括（A）我们向您提供我们的服务过程中所收集之信息（包括您的姓名，出生日期，性别，电子邮件，电话号码，地址，和任何您自愿提供的其他信息）；（B）您每次联系我们时所收集之信息；（C）基于我们内部研究目的，我们可能要求您协助填写用户调查，但您没有义务填写；（D）通过我们网站所进行的任何交易的详细资料；（E）您访问本网站网站的详细信息（包括，但不限于，流量数据，定位数据，博客和其他通信数据）；（F），你在本网站访问的资源；（G）您在网站上的搜索（H）；任何您在网站上所提交的询问和讯息。</p>


          <h5>2.非个人讯息的收集</h5>
          <p>即使您不提供任何个人信息，我们会收集关于您如何使用我们网站的信息（“非个人信息”）。此信息不能被用来识别您个人。 请见下列更详细的“非个人信息”解释。</p>

          <h6>Cookies </h6>
          <p>本网站可能通过使用存储在你计算机的硬盘上的cookie获取有关您使用互联网的综合信息。Cookies包含转传到您电脑硬盘的信息。Cookies帮助我们改善我们的网站，以提供一个更好和更个性化的服务，包括估计我们的用户规模和使用模式；存储你的偏好信息，以让我们根据你的个人兴趣定制我们的网站；加快你的搜索；并在您回到我们网站时识别您。</p>
          <p>您可以在您的测览器的设置中选择拒绝接受cookies，但是您如果选择此设置，您可能无法访问网站的某些部分。除非您更改您浏览器的设置，当您登陆我们网站时我们的系统将会自动发布cookie. </p>
          <p>请您注意，我们的广告商也可能使用cookies。 我们无法控制他们所使用的cookies。</p>

          <h6>非个人信息</h6>
          <p>像许多网站一样，我们可以获取非个人信息，如IP（互联网协议）地址，浏览器类型，您的ISP的名称（互联网服务提供商），用户通过什么渠道到达我们的网站，用户访问的网页，这些网页的访问顺序，以及用户在每一个网页所花费的时间。我们的供应商通过发送Cookie来收集、汇编这些信息，并向我们报告。我们使用非个人信息定制广告和内容，改善我们的服务，进行研究，并提供匿名报告给第三方以及用于我们的内部审核。</p>
          

          <h5>3.信息使用</h5>

          <p>我们在网站上手机的个人信息和非个人用于（A）为您提供您通过网站要求的服务，包括搜索储存以及，如果您有所要求，主动发送给您搜索结果的更新；（B）如果您有选择，发送给您周期性行业报告更新；（C）回复您的问题或投诉；（D）转发交易讯息给您指定的第三方；和（E）分析其信息以帮助我们改善本网站和我们的业务。</p>

          <h5>4.分享您的信息</h5>

          <p>我们不出租，出售，或与第三者分享我们在本网站所收集的您的个人资料，除了（i）提供您所要求的信息或服务，（ii）通过您的同意，或（iii）在下列情况：</p>
          <p>A.执行任何跟您订立中的合约之义务；</p>
          <p>B.在您选择使用情况下，让您参与我们服务的互动功能；</p>
          <p>C.确保从我们网站的内容以最有效的方式呈现给您；</p>
          <p>D.给您发送定时新闻讯息；</p>
          <p>E.为您提供您要求或是我们认为您会感兴趣的信息，产品或服务；</p>
          <p>F.通知您有关我们服务的变化；</p>
          <p>G.我们聘请的第三方供应商代表我们提供服务，如主机托管，网站开发，支持，拥有这些个人信息的访问权，但他们同意不披露个人信息或将此信息用于除了提供所请求的服务之外的其他任何目的；</p>
          <p>H.我们有可能在出现特殊情况下需要披露和使用个人信息和非个人信息，比如：执行本隐私政策或是用户协议以保护我们的财产或权益；保护任何人的安全；对违规或不正常行为进行调查，防止，或采取行动；与另一家机构进行合并，全部或部分销售或转让我们的资产，或任何类似的交易；或因其他原因我们认为是必要的，适当的，或法律要求的，例如当我们回应传票，法院命令，或其他法律或行政程序。</p>

          <p>本网站包含第三方网站之链接在网站。 当您点击这些链接，您会被转到一个第三方网站，而在那里你需详细阅读以及遵守该网站的隐私政策或声明。 我们不负责的其他网站的隐私惯例，我们也不对他们的行动负任何责任，包括有关使用和披露个人信息的行为。我们提醒您在离开我们网站并进入一个第三方网站时特别注意，包括进入我们的关联机构的网站（如有），并再次鼓励你看的任何收集您个人信息的网站的隐私声明。</p>


          <h5>5.信息安全</h5>

          <p>我们的主机服务按照合理的行业标准维持合理的用户信息安全。 然而，我们无法保证通过互联网传输的讯息是100%的安全。 您在使用本网站时必须承担您自己的风险。 </p>

          <h5>6.校正/更新个人信息</h5>

          <p>如果您的个人信息有所改变或您不再希望使用本网站，你可以通过联系客服以校正或更新您的个人信息、退订您订阅的行业资讯、或是删除您在网站上的个人信息。 客服的联系方式为： support@newchama.com</p>

          <h5>7.意见和疑问</h5>
          <p>如果您对本隐私政策有任何意见或疑问，请您点击网站上的“<a href="/home/contact">联系我们</a>”或通过邮件跟我们联系： support@newchama.com</p>
          <br/>

</div></div>
</div>
 <script src="{{STATIC_PREFIX}}js/libs/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
  $('.warpper').height($(document).height());
</script>
</body>
</html>