<ul class="filemanager-options">
        <li><a href="{% url 'analysis.index' %}" class="itemopt">用户总表</a></li>
        <li><a href="{% url 'analysis.user' %}" class="itemopt">用户表</a></li>
        <li><a href="{% url 'analysis.user_detail' %}" class="itemopt">用户详细表</a></li>
        <li><a href="{% url 'analysis.action' %}" class="itemopt">行为细分</a></li>
        <li><a href="{% url 'analysis.project' %}" class="itemopt">项目/需求总表</a></li>
        <li><a href="{% url 'analysis.project_detail' %}" class="itemopt">项目/需求详情表</a></li>
        <li><a href="{% url 'analysis.project_finish' %}" class="itemopt">项目/需求完成度表</a></li>
        <li><a href="{% url 'analysis.get_collected_number' %}" class="itemopt">收藏总数/推荐总数</a></li>
        <li><a href="{% url 'export_user_detail.index' %}" class="itemopt">用户活跃度复合统计</a></li>
        <li><a href="{% url 'export_user_detail.weekly_active_detail' %}" class="itemopt">用户活跃度复合统计详细</a></li>
        <li><a href="{% url 'analysis.message_list' %}" class="itemopt">消息统计</a></li>

      </ul>