{% extends "analysis/base.html" %}
{% load pagination_tags %}
{% block title %}AdminUser{% endblock %}
{% block pageheader %}
    <div class="pageheader">
      <h2><i class="fa fa-home"></i> 首页<span>统计分析</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/">NewChama</a></li>
          <li class="active">统计分析</li>
        </ol>
      </div>
    </div>
{% endblock %}
{% block content %}

<div class="table-responsive">
<div id="table2_wrapper" class="dataTables_wrapper" role="grid">
       {% include "analysis/analysis_nav.html" %}

<div class="dataTables_filter" id="table2_filter">
      <a class="btn btn-default" href="?download=1">Export</a>
    </div>
<h4><a href="{% url 'analysis.project_detail' %}">项目详情表</a> | 需求详情表</h4>
    <table class="table table-primary mb30">
        <thead>
          <tr>
            <th>#</th>
            <th>名称</th>
            <th>推送至机构</th>
            <th>最近访问</th>
            <th>被收藏</th>
            <th>私信</th>
            <th>人工推荐</th>
            <th>人工推荐点击数</th>
            <th>机器推荐</th>
            <th>机器推荐点击数</th>

          </tr>
        </thead>
        <tbody>
          {% autopaginate result_list %}
        {% for item in result_list %}
          <tr>
            <td>{{ item.id }}</td>
            <td><a href="{% url 'demand.detail' item.id %}">{{ item.name_cn }}</a></td>
           
            <td><a href="{% url 'analysis.demand_target' item.id %}">{{ item.send_num }}</a></td>

            <td><a href="{% url 'analysis.demand_view' item.id %}">{{ item.view_num }}</a></td>
            <td><a href="{% url 'analysis.demand_fav' item.id %}">{{ item.fav_num }}</a></td>
            <td><a href="{% url 'analysis.demand_message' item.id %}">{{ item.message_num }}</a></td>


            <td>{{ item.man_recommond_num }}</td>
            <td>{{ item.man_recommond_click_num }}</td>
            <td>{{ item.machine_recommond_num }}</td>
            <td>{{ item.machine_recommond_click_num }}</td>
            
          </tr>
        {% endfor %}
        </tbody>
    </table>
    {% paginate %}
</div>
{% endblock %}
{% block customjs %}

{% endblock %}
