{% extends "analysis/base.html" %}
{% load pagination_tags %}
{% block title %}AdminUser{% endblock %}
{% block pageheader %}
    <div class="pageheader">
      <h2><i class="fa fa-home"></i> 首页<span>统计分析</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/">NewChama</a></li>
          <li class="active">统计分析</li>
        </ol>
      </div>
    </div>
{% endblock %}
{% block content %}

<div class="table-responsive">
<div id="table2_wrapper" class="dataTables_wrapper" role="grid">
      {% include "analysis/analysis_nav.html" %}
   
<h4>项目总表 |  <a href="{% url 'analysis.demand' %}">需求总表</a></h4>
    <table class="table table-primary mb30">
        <thead>
          <tr>
            <th>日期</th>
            <th>项目总数</th>
            <th>有效项目数</th>
            <th>新建项目数</th>
            <th>已审核</th>
            <th>已下线</th>
            <th>待审核</th>
            <th>工作簿</th>
            <th>用户新建</th>
            <th>BD新建</th>
            <th>定向项目</th>
            <th>公开项目数</th>
          </tr>
        </thead>
        <tbody>
          {% autopaginate result_list %}
        {% for item in result_list %}
          <tr>
            <td>{{ item.time | date:'Y-m-d' }}</td>
            <td>{{ item.all_num }}</td>
            <td>{{ item.valid_num }}</td>
            <td>{{ item.created_num }}</td>
            <td>{{ item.audit_num }}</td>
            <td>{{ item.offline_num }}</td>
            <td>{{ item.pendding_num }}</td>
            <td>{{ item.draft_num }}</td>
            <td>{{ item.user_add_num }}</td>
            <td>{{ item.bd_add_num }}</td>
            <td>{{ item.target_num }}</td>
            <td>{{ item.public_num }}</td>
            
          </tr>
        {% endfor %}
        </tbody>
    </table>
    {% paginate %}
</div>
{% endblock %}
{% block customjs %}

{% endblock %}
