{% extends "analysis/base.html" %}
{% load pagination_tags %}
{% block title %}AdminUser{% endblock %}
{% block pageheader %}
    <div class="pageheader">
      <h2><i class="fa fa-home"></i> 首页<span>统计分析</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/">NewChama</a></li>
          <li class="active">多维度复合统计</li>
        </ol>
      </div>
    </div>
{% endblock %}
{% block content %}

<div class="table-responsive">
<div id="table2_wrapper" class="dataTables_wrapper" role="grid">
       {% include "analysis/analysis_nav.html" %}
    <form id="formData" class="form-horizontal form-bordered" method="get">
<h4>用户活跃度复合统计</h4>查询开始时间：<input name="starttime" value="{{ starttime }}">&nbsp;&nbsp;&nbsp;&nbsp;结束时间<input name="endtime" value="{{ endtime }}">
<input type="submit" name="btn" value="查询">
    </form>
    <table class="table table-primary mb30">
        <thead>
          <tr>
            <th width="25%">截止日期</th>
            <th width="25%">比例</th>
            <th width="25%">上月前注册用户数</th>
            <th width="25%">当月活跃用户数</th>
          </tr>
        </thead>
        <tbody>
        {% for s in stayRate %}
          <tr>
           
            <td>{{ s.0 }}</td>
            <td>{{ s.1 }}%</td>
            <td>{{ s.3 }}</td>
            <td>{{ s.2 }}</td>
            
          </tr>
        {% endfor %}
        </tbody>
    </table>
当月活跃度-本月有过活跃行为的用户／本月注册的新用户<br/>
    <table class="table table-primary mb30">
        <thead>
          <tr>
            <th width="25%">截止日期</th>
            <th width="25%">比例</th>
            <th width="25%">当月注册用户数</th>
            <th width="25%">当月活跃用户数</th>
          </tr>
        </thead>
        <tbody>
        {% for s in currActive %}
          <tr>
            <td>{{ s.0 }}</td>
            <td>{{ s.1 }}%</td>
            <td>{{ s.3 }}</td>
            <td>{{ s.2 }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
注册用户每月活跃度-每月有过一次以上活跃行为用户／当前总用户数<br/>
    <table class="table table-primary mb30">
        <thead>
          <tr>
            <th width="25%">截止日期</th>
            <th width="25%">比例</th>
            <th width="25%">当前注册用户数</th>
            <th width="25%">每月活跃用户数</th>
          </tr>
        </thead>
        <tbody>
        {% for s in everyActive %}
          <tr>
            <td>{{ s.0 }}</td>
            <td>{{ s.1 }}%</td>
            <td>{{ s.3 }}</td>
            <td>{{ s.2 }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
整体活跃度-有过活跃行为的用户／当前用户总数
    <table class="table table-primary mb30">
        <thead>
          <tr>
            <th width="25%">整体活跃度</th>
            <th width="25%">比例</th>
            <th width="25%">用户总数</th>
            <th width="25%">活跃用户数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>/</td>
            <td>{{ totalActive.0 }}%</td>
            <td>{{ totalActive.2 }}</td>
            <td>{{ totalActive.1 }}</td>
          </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block customjs %}

{% endblock %}
