{% extends "common/en-us/base.html" %}
{% block mainbar %}
  {% include "account/zh-cn/mainbar.html" %}
{% endblock %}
{% block content %}
   <div class="container-fluid" id="newchama_main">
                <div class="col-xs-12">


                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Change Password</h3>
                  </div>

                  <div class="panel-body">
                  <br/>
                  <div class="col-xs-2">

                   <ul class="nav nav-pills nav-stacked">
                      <li><a href="{% url "account.setting" %}"><i class="glyphicon glyphicon-user"></i> &nbsp;&nbsp;My Profile</a></li>
                      <li class="active">
                        <a href="###">
                          <i class="glyphicon glyphicon-eye-open"></i>
                           &nbsp;&nbsp;Change Password
                         </a>
                       </li>
                    </ul>

                  </div>
                  <div class="col-xs-10">
                {% if messages %}
                {% for message in messages %}
                  <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                  <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                  {{ message }}
                  </div> <!-- /.alert -->
                {% endfor %}
              {% endif %}
                  <form class="form-horizontal" role="form" data-validate="parsley" action="" method="post">



                  <div class="form-group">
                      <label class="col-xs-2">The Original Password</label>
                      <div class="col-xs-3">
                         <input type="password" name="old-password" class="form-control" data-required="true"  />
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-xs-2">The New Password</label>
                      <div class="col-xs-3">
                          <input type="password" name="new-password-1" class="form-control" data-required="true"  />
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-xs-2">Confirm The Password</label>
                      <div class="col-xs-3">
                          <input type="password" name="new-password-2" class="form-control" data-required="true"  />
                      </div>
                    </div>


{% csrf_token %}


                      <div class="form-group">
                          <div class="col-xs-10 col-xs-offset-2">

                              <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-xs" id="btn_search">Save</button>
                                <button type="reset" class="btn btn-default btn-xs" id="btn_search_in_results">Reset
                                </button>
                                </div>
                          </div>
                    </div>
                    </form>
                   </div>




                  </div>
                </div>


            </div>


    </div>

{% endblock %}
