{% extends "common/en-us/nologin_base.html" %}
{% block content %}
    <div class="container-fluid" id="newchama_logo_main"  style="width:70%;">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Persoonal Profile</h3>
                </div>
                <div class="panel-body">
                    <br/>
                    <div class="col-xs-10">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                                    {{ message }}
                                </div> <!-- /.alert -->
                            {% endfor %}
                        {% endif %}
                        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" id="myform" name="myform">
                            <input type="hidden" name="x1" id="x1">
                            <input type="hidden" name="y1" id="y1">
                            <input type="hidden" name="x2" id="x2">
                            <input type="hidden" name="y2" id="y2">
                            <input type="hidden" name="w" id="w">
                            <input type="hidden" name="h" id="h">
                            <input type="hidden" name="imgName" id="imgName">
                            <input type="hidden" name="imgWidth" id="imgWidth">
                            <input type="hidden" name="imgHeight" id="imgHeight">
                            <div class="form-group">
                                <label class="col-xs-2">Image</label>
                                <div class="col-xs-10">
                                    <div class="fileupload" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 238px; height: 238px;">
                                            <img src="{% url 'account.avatar' 238 238 u.avatar %}" alt="avatar" id="img_thumbnail"/>
                                        </div>
                                        <div id="selectFileButton"><span class='btn_uploadfile btn-success fileinput-button'>Choose Image<input type='file' name='uploadFile' id='uploadFile'/></span></div>
                                        <div id="selectFileUploading" class="hide_">uploading images…</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-2">Company Mail</label>
                                <div class="col-xs-4">
                                    <input type="text"  class="form-control" name="name" placeholder="" value="{{ u.email }}" disabled>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                <label class="col-xs-2">Mobile Number</label>
                                <div class="col-xs-2" style="width:150px;">
                                    <select class="form-control" name="mobile_intel" tabindex="2" data-required="true">
                                        {% for c in countries %}
                                            <option value="{{ c.intel_code }}" {% ifequal u.mobile_intel c.intel_code %} selected {% endifequal %}>{{ c.name_cn }}({{ c.intel_code }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <input type="text"  class="form-control" name="mobile" value="{{ u.mobile }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2">Name</label>
                                <div class="col-xs-4">
                                    <input type="text"  class="form-control" name="name" placeholder="" value="{{ u.first_name }}{{ u.last_name }}" disabled>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2">Company Name</label>
                                <div class="col-xs-6">
                                    <input type="text"   name="company" value="{{ u.company.name_cn }}" class="form-control" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-2">Company Type</label>
                                <div class="col-xs-6">
                                    <input type="text"   name="company_type" value="{{ u.company.get_type_display }}" class="form-control" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-2">Personal Introduction</label>
                                <div class="col-xs-10">
                                    <textarea id="intro_cn" name="intro_cn" rows="6" class="form-control" placeholder="请填写您与投资相关的个人简介，例如对相关行业的理解，过去投资经历的感受思考等，这有助于他人快速了解您，达成合作意向，简介将公开显示在你的NewChama个人主页上。">{{ u.intro_cn }}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-2">
                            Set your industry preference, NewChama will help you quickly find your interested project and demand. We can also push you notifications.</div>
                               
                                <div class="col-xs-10 col-xs-offset-2">
                                   
                                {% for i in industrys %}
                                        <div class="col-xs-4">
                                            {% if forloop.counter|divisibleby:3 %}</div><div class="col-xs-4">{% endif %}
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="industrys" value="{{ i.id }}" {% if i in u.focus_aspect.all %}checked{% endif %}>{{ i.name_cn }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-2">

                                    <div class="col-xs-4">
                                       
                                        <button type="button"class="btn btn-primary btn-xs" onclick="checkform();">Confirm</button>
                                        
                                    </div>
                                    <br/><br/>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>


        </div>


    </div>
{% endblock %}
{% block footer %}


    <link rel='stylesheet' type='text/css' href='{{STATIC_PREFIX}}js/libs/jquery.fileupload/jquery.fileupload.css' />
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/jquery.fileupload/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/jquery.fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/jquery.fileupload/jquery.fileupload.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/jquery.jcrop/jquery.Jcrop.min.js"></script>
    <link rel="stylesheet" href="{{STATIC_PREFIX}}js/libs/jquery.jcrop/jquery.Jcrop.min.css">
    <script src="{{STATIC_PREFIX}}js/common/common.js"></script>
    <script>

        function checkform()
        {
            checkbox_is_check=false;

             $("input[name='industrys']").each(function(){
                //alert($(this).attr('checked'));
                if ($(this).attr('checked') =='checked') {
                            checkbox_is_check=true;

                    }

             });
            


            if (checkbox_is_check=true && $('#intro_cn').val() !=""){
                 myform.submit();
            }
                
            else{
                custom_fill_confirm("Complete personal profile and industry preference help us better understand your need. Do you want to continue to fill your information?", "New Message", function() {
                   
                   myform.submit();

                });

            }
                
            
        }

        $(function() {
            $("#uploadFile").fileupload({
                url:"/services/upload_file",//文件上传地址，当然也可以直接写在input的data-url属性内
                dataType: 'text',
                acceptFileTypes:  /(\.|\/)(gif|jpe?g|png)$/i,
                done: function (e, data) {
                    result = jQuery.parseJSON(data.result);
                    if (result.status == "success") {
                        $("#img_thumbnail").attr("src", result.path);
                        $("#imgName").val(result.imgName);
                        $("#img_thumbnail").width("");
                        $("#img_thumbnail").height("");
                        width = result.imgWidth;
                        height = result.imgHeight;
                        if (width > height)
                            $("#img_thumbnail").width(228);
                        else
                            $("#img_thumbnail").height(228);
                        initJcrop();
                    }
                    else {
                        alert(result.message);
                    }
                    $("#selectFileButton").show();
                    $("#selectFileUploading").hide();
                },
                progressall: function (e, data) {
                    $("#selectFileButton").hide();
                    $("#selectFileUploading").show();
                    {#            var progress = parseInt(data.loaded / data.total * 100, 10);#}
                    {#            $('#progress .progress-bar').css(#}
                    {#                'width', progress + '%'#}
                    {#            );#}
                }
            });

            var jcrop_api;
            xsize = 180;//$pcnt.width(),
            ysize = 180;//$pcnt.height();

            function updateImgParam(c) {
                if (parseInt(c.w) > 0) {
                    $('#x1').val(c.x);
                    $('#y1').val(c.y);
                    $('#x2').val(c.x2);
                    $('#y2').val(c.y2);
                    $('#w').val(c.w);
                    $('#h').val(c.h);
                }
            }

            function initJcrop() {
                try {jcrop_api.destroy();}catch(e){}
                $('#img_thumbnail').Jcrop({
                    onRelease: releaseCheck,
                    onChange: updateImgParam,
                    onSelect: updateImgParam,
                    aspectRatio: xsize / ysize
                },function(){
                    jcrop_api = this;
                    var w = $("#img_thumbnail").width();
                    var h = $("#img_thumbnail").height();
                    $("#imgWidth").val(w);
                    $("#imgHeight").val(h);
                    var init_w = 0;
                    var init_h = 0;
                    if (w > h) {
                        init_w = (300 - h) / 2;
                        xsize = h;
                        ysize = h;
                    }
                    else {
                        init_h = (300 - w) / 2;
                        xsize = w;
                        ysize = w;
                    }
                    jcrop_api.animateTo([init_w, init_h, w, h]);
                });
            };
            function releaseCheck() {
                jcrop_api.setOptions({ allowSelect: true });
            };
        });
    </script>


{% endblock %}
