   <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Latest Market News
                    <a href="###" class="pull-right" id="chart_btn_left"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    <a href="###" class="pull-right" id="chart_btn_right"><i class="glyphicon glyphicon-chevron-left"></i></a>
                </h3>

            </div>
            <div class="panel-body">
                <div class="col-xs-12" id="index_chart_1" class="index_chart_block">
                    <br />
                    <input type="hidden" value="{{hidden_is_cv1}}" id="is_cv1">
                    <p class="chart-title">Total amount of transactions in China in the last one year</p>

                    <p class="chart-title" style="display:none;">Total types of transactions in China in the last one year</p>
                    <p class="chart-title" style="display:none;">Total amount of transactions in US in the last one year</p>
                    <p class="chart-title" style="display:none;">Total types of transactions in US in the last one year</p>


                    <div id="chart1" class="chart-holder" style="height:320px;"></div>
                </div>

                <div class="col-xs-12">
                    <div class="chart_nav">
                        <a href="###" class="on"></a>
                        <a href="###"></a>
                        <a href="###"></a>
                        <a href="###"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %}<div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Latest Market News by Georgaraphy</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-7">
                    <div class="map1">
                    <span id="map_dot_1">  
                    <embed src="{{STATIC_PREFIX}}img/dot.swf" quality="high" width="80" height="80" wmode="transparent" type='application/x-shockwave-flash'>
                    </span>  
                    <span href="###" id="map_dot_2">  
                    <embed src="{{STATIC_PREFIX}}img/dot2.swf" quality="high" width="80" height="80" wmode="transparent" type='application/x-shockwave-flash'>
                    </span>

                        <div class="float_usa">
                            <div class="float_block_title">American</div>
                            <div class="float_block_content">
                                <p><span class="col-xs-7"><strong>Recent Deals:</strong></span><span class="md-col-5">{{deal_count_usa}}</span></p>
                                <p><span class="col-xs-7"><strong>Transaction Amount:</strong></span><span class="md-col-5">{{deal_sum_usa}}M</span></p>
                                <p><span class="col-xs-7"><strong>Hot Industry:</strong></span><span class="md-col-5">{{deal_hot_usa}}</span></p>
                            </div>
                        </div>

                        <div class="float_cn">
                            <div class="float_block_title">China</div>
                            <div class="float_block_content">
                                <p><span class="col-xs-7"><strong>Recent Deals:</strong></span><span class="md-col-5">{{deal_count_cn}}</span></p>
                                <p><span class="col-xs-8"><strong>Transaction Amount:</strong></span><span class="md-col-4">{{deal_sum_cn}}M</span></p>
                                <p><span class="col-xs-7"><strong>Hot Industry:</strong></span><span class="md-col-5">{{deal_hot_cn}}</span></p>
                            </div>
                        </div>
                        <a href="###" id="map_btn_1"></a>
                        <a href="###" id="map_btn_2"></a>
                    </div>
                </div>
                <div class="col-xs-5">
                    <ul class="news-list" id="deal_usa">
                        <li class="nav-header"> Top Deals in the U.S </li>

                        {% for item in deal_list_usa %}
                            <li class="news-list-item"><span class="news-list-item-text">{{item.title|truncatechars:80}}</span> </li>

                        {% endfor %}

                        <li class="news-list-view-all"> <a href="{% url 'deal.index' 1%}">View all</a> </li>
                    </ul>

                    <ul class="news-list" style="display:none;" id="deal_cn">
                        <li class="nav-header"> Top Deals in China </li>

                        {% for item in deal_list_cn %}
                            <li class="news-list-item"><span class="news-list-item-text">{{item.title|truncatechars:80}}</span> </li>

                        {% endfor %}

                        <li class="news-list-view-all"> <a href="{% url 'deal.index' 2%}">View all</a> </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>{% endcomment %}
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Market Data</h3>
            </div>
            <div class="panel-body">
                <br />
                <div class="col-xs-6">
                    <table class="table">
                        <caption>
                            American
                        </caption>
                        <thead>
                        <tr>
                            <th width="40%">Industry</th>
                            <th width="20%">P/E</th>
                            <th width="20%">P/B</th>
                            <th width="20%">P/S</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in pe_list_usa %}
                            <tr>
                                <td title="{{item.industry.name_en }}">{{item.industry.name_en | truncatechars:22}}</td>
                                <td>{{item.pe|floatformat:"0"}}</td>
                                <td>{{item.pb|floatformat:"0"}}</td>
                                <td>{{item.ps|floatformat:"0"}}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table">
                        <caption>
                            China
                        </caption>
                        <thead>
                        <tr>
                            <th width="40%">Industry</th>
                            <th width="20%">P/E</th>
                            <th width="20%">P/B</th>
                            <th width="20%">P/S</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in pe_list_cn %}
                            <tr>
                                <td title="{{item.industry.name_en }}">{{item.industry.name_en | truncatechars:22}}</td>
                                <td>{{item.pe|floatformat:"0"}}</td>
                                <td>{{item.pb|floatformat:"0"}}</td>
                                <td>{{item.ps|floatformat:"0"}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table">
                        <caption>
                            Hong Kong
                        </caption>
                        <thead>
                        <tr>
                            <th width="40%">Industry</th>
                            <th width="20%">P/E</th>
                            <th width="20%">P/B</th>
                            <th width="20%">P/S</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in pe_list_hk %}
                            <tr>
                                <td title="{{item.industry.name_en }}">{{item.industry.name_en | truncatechars:22}}</td>
                                <td>{{item.pe|floatformat:"0"}}</td>
                                <td>{{item.pb|floatformat:"0"}}</td>
                                <td>{{item.ps|floatformat:"0"}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table">
                        <caption>
                            England
                        </caption>
                        <thead>
                        <tr>
                            <th width="40%">Industry</th>
                            <th width="20%">P/E</th>
                            <th width="20%">P/B</th>
                            <th width="20%">P/S</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in pe_list_uk %}
                            <tr>
                                <td title="{{item.industry.name_en }}">{{item.industry.name_en | truncatechars:22}}</td>
                                <td>{{item.pe|floatformat:"0"}}</td>
                                <td>{{item.pb|floatformat:"0"}}</td>
                                <td>{{item.ps|floatformat:"0"}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>