{% for d in favorites %}
    <div class="col-sm-3" style="margin-top: 10px; ">
        <a href="{% url 'account.company' d.company.id %}">
            {% if d.company.logo == "" %}
                 <img src="{{MEDIA_URL}}companylogo/default.png" alt="{{ d.company.short_name_en|safe }}" width="80" class="thumbnail" style="margin-bottom: 3px"/>
              {% else %}
                <img src="{{MEDIA_URL}}companylogo/{{d.company.logo}}" alt="{{ d.company.short_name_en|safe }}" width="80" class="thumbnail" style="margin-bottom: 3px"/>
              {% endif %}</a>
        <a href="{% url 'account.company' d.company.id %}">{{ d.company.short_name_en }}</a><br />
        <button class="btn-xs btn-primary btn-remove-favorite" style="margin-top: 3px" data-type="company" data-id="{{ d.company.id }}"><i class="glyphicon glyphicon-heart-empty"></i>&nbsp;Delete</button>
    </div>
{% endfor %}