{% extends "common/en-us/nologin_base.html" %}
{% block content %}
    <div class="container-fluid" id="newchama_logo_main" style="width:50%;">
        <div class="col-xs-12">
            <div class="panel panel-default">
          <div class="panel-heading">
          <h3 class="panel-title">System Alert</h3>
          </div>
          <div class="panel-body">
          <br/>
           <h5>Thank you. We have received your application.</h5>
          <p>We have received your application. To ensure the quality of the projects, we will verify the identification of private mailbox users. We will reach you via email or phone within 24 hours.</p>
          <br/>
          <br/>
          </div>
        </div>
        </div>
    </div>
<div style="clear:both;"></div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/fix_height.js"></script>
{% endblock %}