{% extends "adminuser/base.html" %}
{% load pagination_tags %}
{% load myTags %}
{% block title %}Subscribe{% endblock %}
{% block pageheader %}
    <div class="pageheader">
      <h2><i class="fa fa-home"></i> Subscribe<span>subscribes</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/">NewChama</a></li>
          <li class="active">Subscribe</li>
        </ol>
      </div>
    </div>
{% endblock %}
{% block content %}
<div class="table-responsive">
<div id="table2_wrapper" class="dataTables_wrapper" role="grid">
    <div class="dataTables_filter" id="table2_filter">
      <form class="form-inline" method="get">
        <label>Total:<span class="badge badge-success">{{ total }}</span></label>&nbsp;&nbsp;
          Subscribe:<input type="text" name="keyword" value="{{ keyword }}"  class="form-control" id="keywordSearch" placeholder="Enter KeyWord">
          Member:<input type="text" name="member" value="{{ member }}"  class="form-control" id="member" placeholder="Enter Member Name">
        <!--
        <select name="tip_interval" class="form-control" >
            <option value="">请选择</option>
            <option value="7" {% if tip_interval = 7 %}selected{% endif %}>每周</option>
            <option value="0" {% if tip_interval = 0 %}selected{% endif %}>从不</option>
        </select>
        -->
        <button class="btn btn-primary">Search</button>
      </form>
    </div>
    <div class="table-responsive">
        <table class="table table-primary mb30">
        <thead>
            <tr>
                <th width="20%">订阅名称</th>
                <th width="15%">创建日期</th>
                <th width="12%">匹配到的项目数</th>
                <!-- <th width="10%">提醒频率</th> -->
                <th width="12%">订阅者</th>
            </tr>
            </thead>
            {% autopaginate data %}
            {% for m in data %}
            <tr class="bottom_line">
                <td>{{ m.name_cn|safe | cut_str:28 }}</td>
                <td>{{ m.add_time|date:'Y-m-d' }}</td>
                <td>
                    <a href="{% url 'subscribe.match_project' m.id %}">{{ m.total_match | default:"0"}}</a>
                </td>
                <!--
                <td>
                    {% if m.tip_interval = 7 %}每周{% endif %}
                    {% if m.tip_interval = 0 %}从不{% endif %}
                </td>
                -->
                <td>
                    <a href="{% url 'member.edit' m.member.id %}">{{ m.member }}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!-- table-responsive -->
   {% paginate %}
{% endblock %}
