{% extends "common/zh-cn/base.html" %}
{% load pagination_tags %}
{% block content %}
    <div class="container-fluid" id="newchama_main">
        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">新闻</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="news-list">
                            <li class="nav-header"> <span class="news-list-item-tags"> 我的标签：<i class="glyphicon glyphicon-tags"></i> <a class="tag" href="###"><span class="label label-secondary">白酒</span></a> <a class="tag" href="###"><span class="label label-secondary">白酒</span></a> <a class="tag" href="###"><span class="label label-secondary">白酒</span></a> <a class="tag" href="###"><span class="label label-secondary">白酒</span></a> <a class="tag" href="###"><span class="label label-secondary">白酒</span></a> </span> </li>
                            <li>
                                <div class="newlist_item_block">
                                    <h3>互联网<a href="###" class="pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加关注</a></h3>
                                    <span class="news-list-item-image-big"> <img src="./img/avatars/avatar-1-md.jpg" style="width: 250px" alt="" /> </span>
          <span class="news-list-item-body"> <strong class="news-list-item-title3"><a href="###">金正恩若不露面负面猜想会越来越多</a></strong> <span class="news-list-item-text">报道称，2012年和2013年，金正恩都于10月10日零时到太阳宫拜谒，朝鲜中央通讯社也于同一日凌晨4时进行了报道。但今年截至上午8时，没有一家朝鲜媒体报道金正恩到太阳宫拜谒的消息。报道称，2012年和2013年，金正恩都于10月10日零时到太阳宫拜谒，朝鲜中央通讯社也于同一日凌晨4时进行了报道。但今年截至上午8时，没有一家朝鲜媒体报道金正恩到太阳宫拜谒的消息。 <a href="###">[查看详细]</a></span> <span class="news-list-item-time"><i class="glyphicon glyphicon-time"></i> 20 minutes ago 新浪财经 </span>
           <ul class="others-news-list">
               <li><a href="####">&middot;朝鲜官媒未中断关于金正恩报道 每天约5篇</a></li>
               <li><a href="####">&middot;欧盟因多国反对 删人权草案“起诉金正恩”内容</a></li>
               <li><a href="####">&middot;朝鲜官媒未中断关于金正恩报道 每天约5篇</a></li>
               <li><a href="####">&middot;欧盟因多国反对 删人权草案“起诉金正恩”内容</a></li>
           </ul> </span>
                                </div> <br /> </li>
                            <li>
                                <div class="newlist_item_block">
                                    <h3>互联网<a href="###" class="pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加关注</a></h3>
                                    <span class="news-list-item-image-big"> <img src="./img/avatars/avatar-1-md.jpg" style="width: 250px" alt="" /> </span>
          <span class="news-list-item-body"> <strong class="news-list-item-title3"><a href="###">金正恩若不露面负面猜想会越来越多</a></strong> <span class="news-list-item-text">报道称，2012年和2013年，金正恩都于10月10日零时到太阳宫拜谒，朝鲜中央通讯社也于同一日凌晨4时进行了报道。但今年截至上午8时，没有一家朝鲜媒体报道金正恩到太阳宫拜谒的消息。报道称，2012年和2013年，金正恩都于10月10日零时到太阳宫拜谒，朝鲜中央通讯社也于同一日凌晨4时进行了报道。但今年截至上午8时，没有一家朝鲜媒体报道金正恩到太阳宫拜谒的消息。 <a href="###">[查看详细]</a></span> <span class="news-list-item-time"><i class="glyphicon glyphicon-time"></i> 20 minutes ago 新浪财经 </span>
           <ul class="others-news-list">
               <li><a href="####">&middot;朝鲜官媒未中断关于金正恩报道 每天约5篇</a></li>
               <li><a href="####">&middot;欧盟因多国反对 删人权草案“起诉金正恩”内容</a></li>
               <li><a href="####">&middot;朝鲜官媒未中断关于金正恩报道 每天约5篇</a></li>
               <li><a href="####">&middot;欧盟因多国反对 删人权草案“起诉金正恩”内容</a></li>
           </ul> </span>
                                </div> <br /> </li>
                            <li>
                                <div class="newlist_item_block">
                                    <h3>互联网<a href="###" class="pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加关注</a></h3>
                                    <span class="news-list-item-image-big"> <img src="./img/avatars/avatar-1-md.jpg" style="width: 250px" alt="" /> </span>
          <span class="news-list-item-body"> <strong class="news-list-item-title3"><a href="###">金正恩若不露面负面猜想会越来越多</a></strong> <span class="news-list-item-text">报道称，2012年和2013年，金正恩都于10月10日零时到太阳宫拜谒，朝鲜中央通讯社也于同一日凌晨4时进行了报道。但今年截至上午8时，没有一家朝鲜媒体报道金正恩到太阳宫拜谒的消息。报道称，2012年和2013年，金正恩都于10月10日零时到太阳宫拜谒，朝鲜中央通讯社也于同一日凌晨4时进行了报道。但今年截至上午8时，没有一家朝鲜媒体报道金正恩到太阳宫拜谒的消息。 <a href="###">[查看详细]</a></span> <span class="news-list-item-time"><i class="glyphicon glyphicon-time"></i> 20 minutes ago 新浪财经 </span>
           <ul class="others-news-list">
               <li><a href="####">&middot;朝鲜官媒未中断关于金正恩报道 每天约5篇</a></li>
               <li><a href="####">&middot;欧盟因多国反对 删人权草案“起诉金正恩”内容</a></li>
               <li><a href="####">&middot;朝鲜官媒未中断关于金正恩报道 每天约5篇</a></li>
               <li><a href="####">&middot;欧盟因多国反对 删人权草案“起诉金正恩”内容</a></li>
           </ul> </span>
                                </div> <br /> </li>
                            <li>
                                <div class="newlist_item_block">
                                    <h3>互联网<a href="###" class="pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加关注</a></h3>
                                    <span class="news-list-item-image-big"> <img src="./img/avatars/avatar-1-md.jpg" style="width: 250px" alt="" /> </span>
          <span class="news-list-item-body"> <strong class="news-list-item-title3"><a href="###">金正恩若不露面负面猜想会越来越多</a></strong> <span class="news-list-item-text">报道称，2012年和2013年，金正恩都于10月10日零时到太阳宫拜谒，朝鲜中央通讯社也于同一日凌晨4时进行了报道。但今年截至上午8时，没有一家朝鲜媒体报道金正恩到太阳宫拜谒的消息。报道称，2012年和2013年，金正恩都于10月10日零时到太阳宫拜谒，朝鲜中央通讯社也于同一日凌晨4时进行了报道。但今年截至上午8时，没有一家朝鲜媒体报道金正恩到太阳宫拜谒的消息。</span> <span class="news-list-item-time"><i class="glyphicon glyphicon-time"></i> 20 minutes ago 新浪财经 </span>
           <ul class="others-news-list">
               <li><a href="####">&middot;朝鲜官媒未中断关于金正恩报道 每天约5篇</a></li>
               <li><a href="####">&middot;欧盟因多国反对 删人权草案“起诉金正恩”内容</a></li>
               <li><a href="####">&middot;朝鲜官媒未中断关于金正恩报道 每天约5篇</a></li>
               <li><a href="####">&middot;欧盟因多国反对 删人权草案“起诉金正恩”内容</a></li>
           </ul> </span>
                                </div> <br /> </li>
                            <li>
                                <div class="newlist_item_block">
                                    <h3>互联网<a href="###" class="pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加关注</a></h3>
                                    <span class="news-list-item-image-big"> <img src="./img/avatars/avatar-1-md.jpg" style="width: 250px" alt="" /> </span>
          <span class="news-list-item-body"> <strong class="news-list-item-title3"><a href="###">金正恩若不露面负面猜想会越来越多</a></strong> <span class="news-list-item-text">报道称，2012年和2013年，金正恩都于10月10日零时到太阳宫拜谒，朝鲜中央通讯社也于同一日凌晨4时进行了报道。但今年截至上午8时，没有一家朝鲜媒体报道金正恩到太阳宫拜谒的消息。报道称，2012年和2013年，金正恩都于10月10日零时到太阳宫拜谒，朝鲜中央通讯社也于同一日凌晨4时进行了报道。但今年截至上午8时，没有一家朝鲜媒体报道金正恩到太阳宫拜谒的消息。</span> <span class="news-list-item-time"><i class="glyphicon glyphicon-time"></i> 20 minutes ago 新浪财经 </span>
           <ul class="others-news-list">
               <li><a href="####">&middot;朝鲜官媒未中断关于金正恩报道 每天约5篇</a></li>
               <li><a href="####">&middot;欧盟因多国反对 删人权草案“起诉金正恩”内容</a></li>
               <li><a href="####">&middot;朝鲜官媒未中断关于金正恩报道 每天约5篇</a></li>
               <li><a href="####">&middot;欧盟因多国反对 删人权草案“起诉金正恩”内容</a></li>
           </ul> </span>
                                </div> <br /> </li>
                            <li class="news-list-view-all"> <a href="###">查看更多</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.news -->
        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}