{% if is_paginated %}
{% load i18n %}
<div class="pull-right">
<ul class="pagination">
    <li><a href="?page=1{{ getvars }}{{ hashtag }}">&laquo;</a></li>
   {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li class="active"><a href="javascript:;">{{ page }}</a></li>
            {% else %}
                <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="paginate_button">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li><a href="">...</a></li>
        {% endif %}
   {% endfor %}
   <li><a href="?page={{ page_obj.paginator.num_pages }}{{ getvars }}{{ hashtag }}">&raquo;</a></li>
  </ul>
</div>
{% endif %}