{% extends "backend/base.html" %}


{% block headerbar %} 
    <div class="headerbar">
      {% include "backend/headerbar.html" %}  
    </div><!-- headerbar -->
{% endblock %}

{% block pageheader %}
    <div class="pageheader">      
      <h2><i class="fa fa-home"></i> 管理员管理</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="{% url 'backend.index' %}">OliveCMS</a></li>
          <li class="active">管理员管理</li>
        </ol>
      </div>
    </div>
{% endblock %}


{% block contentpanel %} 
    <div class="contentpanel">
      
     <div class="row">
        
        <div class="col-md-12">
          <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="{% url 'backend.admin_add' %}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> 添加管理员</a>
          </div><!-- panel-btns -->
          <h3 class="panel-title">管理员列表</h3>
          
        </div>
        <div class="panel-body">
       
          <div class="table-responsive">
          <table class="table" id="table1">
              <thead>
                 <tr>
                    <th>#</th>
                    <th>用户名</th>
                    <th>姓</th>
                    <th>名</th>
                    <th>Email地址</th>
                    <th>创建时间</th>
                    <th>最后登录时间</th>
                    <th></th>
                 </tr>
              </thead>
              <tbody>
              {% for user in user_list %}
                 <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.last_name|default:'N/A'}}</td>
                    <td>{{user.first_name|default:'N/A'}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.date_joined}}</td>
                    <td>{{user.last_login}}</td>
                    <td class="table-action">
                      <a href="{% url 'backend.admin_edit' user.id %}"><i class="fa fa-pencil"></i></a>
                      <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                 </tr>
              {% endfor %}
                
              </tbody>
           </table>
          </div><!-- table-responsive -->
          
        </div><!-- panel-body -->
      </div><!-- panel -->
        </div><!-- col-md-6 -->
        
       
      </div>
     
      
    </div><!-- contentpanel -->
{% endblock %}


{% block customjs %} 
<script src="{{STATIC_URL}}backend/js/jquery.datatables.min.js"></script>
<script src="{{STATIC_URL}}backend/js/chosen.jquery.min.js"></script>

<script>
  jQuery(document).ready(function() {
    
  
    $('#table1').dataTable( {
      "sPaginationType": "full_numbers",
      "aoColumns": [
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      { "asSorting": [ ] }
      ],
      "oLanguage": {
      "sLengthMenu": "每页显示 _MENU_ 条记录",
      "sZeroRecords": "抱歉， 没有找到",
      "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
      "sInfoEmpty": "没有数据",
      "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
      "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "前一页",
      "sNext": "后一页",
      "sLast": "尾页"
      },
      "sZeroRecords": "没有检索到数据",
      "sSearch": "搜索:",
      "sProcessing": "正在加载中..."

      }

      } );

    // Chosen Select
    jQuery("select").chosen({
      'min-width': '100px',
      'white-space': 'nowrap',
      disable_search_threshold: 10
    });
    
    // Delete row in a table
    jQuery('.delete-row').click(function(){
      var c = confirm("Continue delete?");
      if(c)
        jQuery(this).closest('tr').fadeOut(function(){
          jQuery(this).remove();
        });
        
        return false;
    });
    
  
  
  });
</script>
{% endblock %}