{% extends "common/en-us/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load myTags %}
{% block content %}
    <div class="container-fluid" id="newchama_main">
    <div class="col-xs-12">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Latest Buy-Side Mandates</h3>
    </div>
    <div class="panel-body">
        {% if need_preference == True %}
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">×</a>
            Set your <a href="{% url 'account.preference_demand' %}">prefenrence</a> and view more project inofrmation.
        </div>
        {% endif %}
    <ul class="news-list">
    <li class="nav-header">
        <ul class="nav nav-pills top_nav_pills" role="tablist">
{#            <li class="active"><a href="#">全部</a></li>#}
            <li class="{{ time_desc }}"><a href="?sort=time_desc">Date: latest to earliest</a></li>
            <li class="{{ time_asc }}"><a href="?sort=time_asc">Date: earliest to latest</a></li>
        </ul>
    </li>
    {% for d in demands %}
    <li class="project-item2">
        <div class="col-xs-10">
            <strong class="news-list-item-title2"><a href="{% url 'purchase.detail' d.id %}">{{ d.name_en|safe|truncatechars:120  }}</a> </strong>
         <span class="news-list-item-text">
          <table class="table index-table-1">
              <tbody>
              <tr class="project-th">
                  <td width="28%">Industry</td>
                  <td width="25%">Location</td>
                  <td width="25%">Deal Type</td>
{#                  <td>交易规模</td>#}
                  <td width="11%">Validity Period</td>
                  <td width="11%">Updated</td>
              </tr>
              <tr>
                  <td>{% if d.company_industries.all.count > 0 %}
                            {% for industry in d.company_industries.all %}<i class="glyphicon glyphicon-tags"></i> <a class="tag preference_common_keyword" data-type="demand" data-tag="{{ industry.name_en }}" href="javascript:;"> {{ industry.name_en|truncatechars:40 }}</a>&nbsp;&nbsp;{% endfor %}
                        {% else %}
                            All
                        {% endif %}
                  </td>
                  <td>{% if d.company_countries.count > 0 %}
                        {% for c in d.company_countries.all %} {{ c.name_en }}&nbsp;&nbsp;{% endfor %}
                     {% else %}
                        All
                    {% endif %}
                  </td>
                  <td>{{ d.get_service_type_display }}</td>
{#                  <td>$100m</td>#}
                  <td>{{ d.expire_date|date:'Y-m-d' }}</td>
                  <td>{{ d.update_time|date:'Y-m-d' }}</td>
              </tr>
              {% if not d.is_suitor%}
              <tr>
                  <td colspan="5"><small>{{ d.intro_en | safe | replaceBrToEmpty | truncatechars:160}}</small></td>
              </tr>
              {% endif %}
              </tbody>
          </table> </span>
        </div>
        <div class="col-xs-2" >
         <span class="pull-right"> {% if not d.is_suitor%}<button class="btn-xs btn-primary send_message_btn" data-message-id="{{d.id}}" data-message-type="2"><i class="glyphicon glyphicon-envelope"></i>&nbsp;Message</button>
             {% if d.id in favorites_demand_ids %}
                 <button class="btn-xs btn-primary btn-cancelfavorite" data-id="{{ d.id }}" data-type="demand"><i class="glyphicon glyphicon-heart-empty"></i>&nbsp;WatchList</button>
             {% else %}
                 <button class="btn-xs btn-primary btn-addfavorite" data-id="{{ d.id }}" data-type="demand"><i class="glyphicon glyphicon-heart"></i>&nbsp;WatchList</button>
             {% endif %}
         {% if d.has_attach %}
             <button class="btn-xs btn-primary btn-attach" data-type="demand" data-id="{{ d.id }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;Attachments</button>
         {% endif %}{% endif %}
         </span>
        </div> </li>
    {% endfor %}
    {% if need_preference == False %}
    <li class="news-list-view-all" style="display: none;" id="loader"><img src='{{STATIC_PREFIX}}img/loaders/ajax-loader.gif'></li>
    <li class="news-list-view-all" id="load_btn"> <a href="javascript:LoadData();">More</a> </li>
    {% endif %}
    </ul>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "account/en-us/sendmessagemodal.html" %}
    <script>
        var page = 1;
        var pagesize=10;
        var is_has_data = true;
        {% comment %}$(window).bind("scroll", function () {
            var screenHeight = $(window).height();
            var top = $(document.body).height();
            //console.log(top);
            var scrollTop = $(document).scrollTop();
            if (top - scrollTop < screenHeight + 20) {
                LoadData();
            }
        });{% endcomment %}
        function LoadData()
        {
            if(is_has_data)
            {
                page++;
                GetData(page,pagesize);
            }
        }
        function GetData(page,pagesize) {
            $("#load_btn").hide();
            $("#loader").show();
            var url = "/purchase/ajax_get_list/"+page+"/"+pagesize+"?sort={{ sort }}";
            jQuery.get(url,function (data) {
                var newData = data.replace(/\s/g,'');
                if(newData)
                {
                    $("#loader").before(data);
                }else
                {
                    is_has_data = false;
                    $("#load_btn").remove();
                }
                $("#load_btn").show();
                $("#loader").hide();
            });
        }
        //LoadData();
    </script>
{% endblock %}