{% extends "common/zh-cn/nologin_base.html" %}
{% block content %}
    <div class="container-fluid" id="newchama_logo_main" style="width:70%;">
        <div class="col-xs-12">
            <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">商务合作</h3>
          </div>
          <div class="panel-body">
          <br/>
               



<p>
NewChama欢迎与国内外优秀投资人，上市公司，券商，投资银行，会计事务所以及律师事务所建立深层次合作关系。我们希望在保护NewChama用户权益以及私密信息的基础上，与专业机构商谈合作。</p>

<p>请您通过以下邮箱与我们联系，我们会尽快与您回复。</p>

<p>Business@newchama.com</p>

<br/>
<br/>

          
          </div>
        </div>
        </div>
    </div>
<div style="clear:both;"></div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/fix_height.js"></script>

   
{% endblock %}