<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
.pp {
	line-height: 6px;
	font-family: "微软雅黑";
	font-size: 12px;
}
.pp2 {
}
.p {
	font-size: 18px;
}
.内容 {
	font-size: 12px;
	font-family: "微软雅黑";
}
.联系 {
	font-size: 12px;
	text-align: left;
	color: #666;
	font-weight: normal;
}
.联系标题 {
	font-size: 16px;
	color: #333333;
}
.网址 {
}
</style></head>

<body>
<div style="direction:ltr" class="">
  <div style="min-width:550px;background-color:none;color:#333333;font-family:'HelveticaNeue-Light','HelveticaNeue','HelveticaNeue-Light','Helvetica Neue','HelveticaNeueRoman','HelveticaNeue-Roman','Helvetica Neue Roman','TeXGyreHerosRegular','Helvetica','Tahoma','Geneva','Arial',sans-serif;font-weight:0;font-stretch:normal;text-align:center;background:url(http://www.newchama.com/media/img/email_bg.png);line-height:17pt;letter-spacing:.03em;font-size:12pt" class=""> <a href="http://www.newchama.com"><img src="http://www.newchama.com/media/img/email02.png" style="margin:25px 0 22px;text-align:center" alt="Newchama" class="" /></a>
    <div style="width:550px;background-color:#f3f3f3;text-align:left;margin:0 auto 45px;padding:0;border-radius:3px" bgcolor="#f3f3f3" align="left" class="">
      <div style="padding: 45px 45px 15px; font-family: '微软雅黑';" class="">
        <div style="font-size: 14px; font-weight: normal; margin-bottom: 12px; color: #000000" class="">
          <p class="pp">{{username}}，你好</p>
          <p class="pp">&nbsp;</p>
          <p class="pp">&nbsp;</p>
          <p class="pp">欢迎加入NewChama！请点击以下链接完成注册</p>
          <p class="pp"><a href="http://www.newchama.com/account/active/?email={{email}}&active_code={{activecode}}" style="color:rgb(116,195,196);line-height:13pt">http://www.newchama.com/account/active/?email={{email}}&active_code={{activecode}}</a></p>
          <p class="pp">&nbsp;</p>
          <p class="pp">如该链接无法点击，请直接拷贝以上链接到地址栏中访问</p>
          <p class="pp">注：此链接有效期为两个小时</p>
          <p class="pp">&nbsp;</p>
        </div>
        <table style="width:460px;margin:30px auto 30px;border-spacing:0px;line-height:0px" class="">
          <tbody class="">
            <tr class="">
              <td style="border-bottom-width:1px;border-bottom-color:#c0c0c8;border-bottom-style:solid" class="">&nbsp;</td>
              <td style="border-bottom-width:1px;border-bottom-color:#c0c0c8;border-bottom-style:solid" class="">&nbsp;</td>
            </tr>
            <tr class="">
              <td style="border-top-width:1px;border-top-color:#ffffff;border-top-style:solid" class="">&nbsp;</td>
              <td style="border-top-width:1px;border-top-color:#ffffff;border-top-style:solid" class="">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <div style="font-size:24px;font-weight:normal;margin-bottom:15px;color:#1fbad6" class="">        </div>
        <div style="font-size: 18px; font-weight: normal; margin-bottom: 15px; color: #1fbad6" class="">
          <table width="460" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <th width="362" height="50" class="p" style="text-align: left; color: #000000;" scope="row"><span class="联系标题">有任何问题欢迎联系我们</span></th>
              <th width="98" rowspan="3" scope="row"><img src="http://www.newchama.com/media/img/email03.png" width="101" height="100" /></th>
            </tr>
            <tr style="">
              <th height="22" class="联系" scope="row">  Tel:+86 21 61911021</th>
            </tr>
            <tr style="text-align: left; color: #000000;">
              <th class="联系" scope="row">E-mail:support@newchama.com</th>
            </tr>
            <tr style="text-align: left; color: #000000;">
              <th class="联系" scope="row">&nbsp;</th>
              <th class="联系" style="text-align: center" scope="row">微信公众号</th>
            </tr>
          </table>
        </div>
        <table width="460" border="0" align="center" cellspacing="0">
          <tr></tr>
        </table>
      </div>
    </div>
    <div style="font-size:9px;font-weight:normal;color:#888" class=""> 电子邮件发件人：NewChama.com 为投资人士量身打造的专业交易工具 <br class="" />
      (C) Copyright 2014-2015. All rights are reserved by NewChama.</div>
  </div>
</div>
</body>
</html>
