{% extends "adminuser/base.html" %}
{% block title %}Create Member{% endblock %}
{% block pageheader %}
    <div class="pageheader">
      <h2><i class="fa fa-home"></i> Member<span>Check Member</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/">NewChama</a></li>
          <li class="active">Member</li>
        </ol>
      </div>
    </div>
{% endblock %}
{% block content %}
       <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Check Member</h4>
          <p>Check member entry form</p>
        </div>
        <form id="basicForm" class="form-horizontal form-bordered" action="" method="post">
        <div class="panel-body">
          {% if messages %}
              {% for message in messages %}
                  <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
           <div class="form-group">
              <label class="col-sm-3 control-label">Email</label>
              <div class="col-sm-6">
                <input type="email" placeholder="Email" name="email" value="{{ u.email }}" readonly class="form-control" />
              </div>
            </div>
           <div class="form-group">
              <label class="col-sm-3 control-label">Fullname</label>
              <div class="col-sm-6">
                  <input type="text" placeholder="FirstName" name="first_name" value="{{ u.fullname }}" readonly class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">FirstName</label>
              <div class="col-sm-6">
                  <input type="text" placeholder="FirstName" name="first_name" value="{{ u.fullname }}" required maxlength="50" class="form-control" />
              </div>
            </div>
            {% comment %}<div class="form-group">
              <label class="col-sm-3 control-label">LastName</label>
              <div class="col-sm-6">
                <input type="text" placeholder="LastName" name="last_name" value="{{ last_name }}" required maxlength="50" class="form-control" />
              </div>
            </div>
             <div class="form-group">
              <label class="col-sm-3 control-label">Gender</label>
              <div class="col-sm-6">
               {{ u.get_gender_display }}
              </div>
            </div>{% endcomment %}
            <div class="form-group">
              <label class="col-sm-3 control-label">Company Region</label>
              <div class="col-sm-6">
                    {{ u.country }}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Company Industry</label>
              <div class="col-sm-6">
                    {{ u.industry.father.father|default:'' }}&nbsp;&nbsp;{{ u.industry.father|default:'' }}&nbsp;&nbsp;{{ u.industry|default:'' }}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Company Name</label>
              <div class="col-sm-6">
                  <input type="text" placeholder="Company" value="{{ u.company }}" name="company_name" class="form-control" readonly />
              </div>
            </div>
             <div class="form-group">
              <label class="col-sm-3 control-label">Company Type</label>
              <div class="col-sm-6">
                  {{ u.get_company_type_display }}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Company</label>
              <div class="col-sm-6">
                <div class="col-md-12 input-group">
                  <select name="company" class="form-control chosen-select" data-placeholder="Choose a Company...">
                      <option value="0">Please Select</option>
                      {% for company in companies %}
                          <option value="{{ company.id }}" {% if u.company == company.name_cn %}selected{% endif %}>{% comment %}{{ company.short_name_en }}:{% endcomment %}{{ company.name_cn }}</option>
                      {% endfor %}
                  </select>
                    <span class="input-group-addon addon_btn" onclick="javascript:window.open('{% url 'company.add' %}')">+Add</span>
                 </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">English Position</label>
              <div class="col-sm-6">
                <input type="text" placeholder="English Position" name="position_en" value="{{ u.position }}" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Chinese Position</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Chinese Position" name="position_cn" value="{{ u.position }}" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Tel</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Tel" name="tel" value="{{ u.tel }}" class="form-control" />
              </div>
            </div>
             <div class="form-group">
              <label class="col-sm-3 control-label">Mobile</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Mobile" name="mobile" value="{{ u.mobile }}" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">English Interested Parties</label>
              <div class="col-sm-6">
                   <textarea class="form-control" rows="5" id="intro_en" name="intro_en">{{ intro_en }}</textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Chinese Interested Parties</label>
              <div class="col-sm-6">
                   <textarea class="form-control" rows="5" id="intro_cn" name="intro_cn">{{ intro_cn }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Type</label>
              <div class="col-sm-6">
                 <select class="form-control chosen-select" data-placeholder="Choose Member Type..." name="type" id="type">
                     {% for id,value in MEMBER_TYPES %}
                        <option value="{{ id }}" {% if id == type %} selected="selected" {% endif %}>{{ value }}</option>
                     {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">ExpireDate</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="expire_date" placeholder="yyyy-mm-dd" required  value="{{ expire_date }}" id="expire_date">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Reason</label>
              <div class="col-sm-6">
                <textarea class="form-control" rows="5" id="reason" name="reason">{{ reason }}</textarea>
                  <span class="help-block">must input if disapprove </span>
              </div>
            </div>
        <input type="hidden" name="id" value="{{ u.id }}">
               {% csrf_token %}
        </div><!-- panel-body -->

        <div class="panel-footer">
			 <div class="row">
				<div class="col-sm-6 col-sm-offset-3">
				  <button class="btn btn-primary" name="btn_approve">Approve</button>&nbsp;
				  <button class="btn btn-default cancel" name="btn_disapprove">Disapprove</button>
				</div>
			 </div>
		  </div><!-- panel-footer -->
        </form>
      </div><!-- panel -->
{% endblock %}
{% block customjs %}
    <script>
    jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
    jQuery('#expire_date').datepicker({dateFormat: "yy-mm-dd"});
    </script>
{% endblock %}