{% extends "adminuser/base.html" %}
{% block title %}Reset Member Password{% endblock %}
{% block pageheader %}
    <div class="pageheader">
      <h2><i class="fa fa-home"></i> Member<span>Reset Password</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/">NewChama</a></li>
          <li class="active">Member</li>
        </ol>
      </div>
    </div>
{% endblock %}
{% block content %}
       <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Reset Password</h4>
          <p> Please input new password to reset member password.</p>
        </div>
        <form id="basicForm" class="form-horizontal form-bordered" action="" method="post">
        <div class="panel-body">
          {% if messages %}
              {% for message in messages %}
                  <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
           <div class="form-group">
              <label class="col-sm-3 control-label">Email</label>
              <div class="col-sm-6">
                  <input type="text" readonly="readonly" value="{{ u.email }}" class="form-control" />
              </div>
            </div>
             <div class="form-group">
              <label class="col-sm-3 control-label">New Password</label>
              <div class="col-sm-6">
                <input type="password" placeholder="New Password" name="password" class="form-control" required />
              </div>
            </div>
             {% csrf_token %}
        <input type="hidden" name="id" value="{{ u.id }}">
        </div><!-- panel-body -->

        <div class="panel-footer">
			 <div class="row">
				<div class="col-sm-6 col-sm-offset-3">
				  <button class="btn btn-primary">Submit</button>&nbsp;
				  <button class="btn btn-default">Cancel</button>
				</div>
			 </div>
		  </div><!-- panel-footer -->
        </form>
      </div><!-- panel -->
{% endblock %}