{% extends "common/en-us/base.html" %}
{% block mainbar %}
  {% include "account/zh-cn/mainbar.html" %}
{% endblock %}
{% block content %}
    <div class="content-container">

      <div class="content-header">
        <h2 class="content-header-title">{{title}}</h2>
        <ol class="breadcrumb">
          <li><a href="javascript:;">Home</a></li>
          <li class="active">{{title}}</li>
        </ol>
      </div> <!-- /.content-header -->

      <div class="row">

       

      </div> <!-- /.row -->


      

    </div> <!-- /.content-container -->

{% endblock %}
