{% extends "common/en-us/base.html" %}
{% load humanize %}
{% load myTags %}
{% block content %}
    <div class="container-fluid" id="newchama_main">
    <div class="col-xs-9">
        <div class="col-xs-12">
        <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Detail</h3>
          </div>
            <div class="panel-body">
                <div class="col-xs-1" style="width:100px;">
                    <strong><span class="label label-success">{{ m.statusName }}</span</strong>
                </div>
                <div class="col-xs-8">
                    <strong>{{ m.name_en|safe }}&nbsp;</strong>
                </div>
                <div class="col-xs-10">
                    <table class="table index-table-1">
                        <tbody>
                        <tr class="project-th">
                            <td width="14%">Recommendations</td>
                            <td width="14%">Pushed</td>
                            <td width="14%">Visitor</td>
                            <td width="14%">WatchList</td>
                            <td width="14%">Message</td>
                            <td width="15%">Status</td>
                            <td width="14%">Completion</td>
                        </tr>
                        <tr>
                            <td>{{ m.total_recommends}}</td>
                            <td>{{ m.total_target}}</td>
                            <td>{{ m.pvs}}</td>
                            <td>{{ m.total_favorites}}</td>
                            <td>{{ m.not_read_messages}}</td>
                            <td>
                                <select name="process" id="process" class="form-control">
                                    {% for st in process %}
                                        <option value="{{ st.0 }}" {% if u.service_type == st.0 %} selected="selected" {% endif %}>{{ st.1 }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{ m.integrity | default:'60'}}%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-2">
                    <span class="pull-right" {% if m.status == 2 %}style="width:200px; text-align:right;"{% endif %}> <button class="btn-xs btn-primary" onclick="javascript:location.href='{% url "sales.edit" m.id %}'"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</button>
                        <button class="btn-xs btn-danger" onclick="DeleteSales({{ m.id }});"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</button>
                        {% if m.status == 2 %}<button class="btn-xs btn-primary" onclick="javascript:OfflineSales({{ m.id }});"><i class="glyphicon glyphicon-arrow-down"></i>&nbsp;Off Market</button>{% endif %}
                        <!--{% if u.has_attach %}
                        <button class="btn-xs btn-default btn-attach" data-type="project" data-id="{{ m.id }}"><i class="glyphicon glyphicon-paperclip"></i>&nbsp;附件</button>
                        {% endif %}-->
                     </span>
                </div>
            </div>
        </div>
    </div>
        {% if m.status == 2%}
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Successfully Pushed to
                <div class="pull-right nav_header_custom_arrow"><a href="javascript:;" class="project_arrow_right"><i class="glyphicon glyphicon-chevron-right"></i></a></div>
                <div class="pull-right nav_header_custom_arrow"><a href="javascript:;" class="project_arrow_left"><i class="glyphicon glyphicon-chevron-left"></i></a>&nbsp;&nbsp;</div>
                </h3>
            </div>
            <div class="panel-body">
                <div  style="width:830px; overflow:hidden; position:relative">
                {% if is_recommend_company%}
                    <ul class="members-list members-already-recommend" style="width:50000px">
                    {% for tc in recommend_company_list %}
                         <li class="members-item">
                       {% if tc.logo == "" %}
                         <img src="{{MEDIA_URL}}companylogo/default.png" width="80" height="80" class="thumbnail" />
                       {% else %}
                        <img src="{{ MEDIA_URL }}companylogo/{{tc.logo}}" width="80" height="80" class="thumbnail" />
                       {% endif %}
                         <a href="{% url 'account.company' tc.id %}">{{ tc.short_name_en }}</a>
                         <!--{% if tc.messageCount > 0 %}
                         <a class="badge" href="{% url 'account.notification' 'user' tc.id m.id %}">{{ tc.messageCount }}</a>
                         {% endif %}-->
                         </li>
                    {% endfor %}
                {% else %}
                    <ul class="members-list members-already-recommend">
                         <li><p class="no-record-text">No related Push</p></li>
                {% endif %}
                </ul>
                </div>
            </div>
        </div>
    </div>
        {% endif %}
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recommendations
                <div class="pull-right nav_header_custom_arrow"><a href="javascript:;" class="project_arrow_right_2"><i class="glyphicon glyphicon-chevron-right"></i></a></div>
                <div class="pull-right nav_header_custom_arrow" style="padding-left: 6px"><a href="javascript:;" class="project_arrow_left_2"><i class="glyphicon glyphicon-chevron-left"></i></a>&nbsp;&nbsp;</div>
                {% if m.status == 2 %}
                <div class="pull-right nav_header_custom_arrow recommendDiv " style="margin-top:-3px;"><button class="btn-xs btn-primary" onclick="saveRecommend()"><i class="glyphicon glyphicon-edit"></i>&nbsp;Teaser Expressway</button></div>
                <div class="pull-right nav_header_custom_arrow publishing hide_" style="margin-top:2px;">Pushing..</div>
                {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <div  style="width:830px; overflow:hidden; position:relative">
                <input type="hidden" id="project_id" value="{{ m.id }}"/>
                    <ul class="members-list members-already-recommend">
                         <li style="color:#777; margin-left:12px;">Please select buyers you are interested in and Click on "Teaser Expressway".</li>
                    </ul>
                {% if recommendList%}
                    <ul class="members-list members-recommend-list" style="width:50000px">
                    {% for rl in recommendList %}
                         <li class="members-item">
                         <div style="position:relative; width:80px; height:80px; margin-bottom: 5px">
                         {% if rl.is_man%}
                         <div style="position:absolute;"><img src="{{STATIC_PREFIX}}images/hot.png"></div>
                         {% endif %}
                         {% if m.status == 2 %}
                         <div style="position:absolute; top:2px; right:2px">
                            <input type="checkbox" name="recommendChk" value="{{ rl.company.id }}">
                         </div>
                         {% endif %}
                       {% if rl.company.logo == "" %}
                         <img src="{{MEDIA_URL}}companylogo/default.png" width="80" height="80" class="thumbnail ui-popover"
                              data-toggle="tooltip" data-placement="top" data-trigger="hover" data-content="{{ rl.target_reason | recommendType }}" />
                       {% else %}
                         <img src="{{ MEDIA_URL }}companylogo/{{rl.company.logo}}" width="80" height="80" class="thumbnail ui-popover"
                              data-toggle="tooltip" data-placement="top" data-trigger="hover" data-content="{{ rl.target_reason_en | recommendType }}" />
                       {% endif %}
                         </div>
                         <a href="{% url 'account.company' rl.company.id %}?s=recommond&p={{m.id}}{% if rl.is_man%}&m=man{% endif %}">{{ rl.company.short_name_en | default:"" }}</a>
                         </li>
                         {% empty %}
                         <li><p class="no-record-text">No related No related recommendations. Please provide more information first. </p></li>
                    {% endfor %}
                {% else %}
                    <ul class="members-list members-already-recommend">
                         <li><p class="no-record-text">No related recommendations</p></li>
                {% endif %}
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Messages</h3>
            </div>
            <div class="panel-body">
                {% if message_list %}
                <ul class="message-list">
                    {% for message in message_list %}
                         <li class="message-item">
                        <div class="pull-left col-xs-10">
                            <span class="message-item-pic"> <a href="{% url 'account.profile' message.sender.id %}"><img src="{% url 'account.avatar' 60 60 message.sender.avatar %}" class="thumbnail" /></a> </span>
                            <a href="{% url 'account.profile' message.sender.id %}">{{ message.sender }} {{ message.sender.company.short_name_en }} </a>
                            <p class="message-time"><i class="glyphicon glyphicon-time"></i>&nbsp;{{ message.add_time|timesince }}</p>
                            <p>{{ message.content|safe }}</p>
                        </div> <a href="javascript:;" class="pull-right btn-xs btn-primary send_message_btn" rel="{{message.id}}" data-message-id="{{ message.project_id }}" data-message-type="{{ message.type_relation }}" data-reply-id="{{ message.sender.id }}">
                             <i class="glyphicon glyphicon-envelope"></i>&nbsp;Reply
                           </a>
                         </li>
                    {% endfor %}
                </ul>
            <div class="message-list-view-all">
                    <a href="###">More</a>
                </div>
            {% else %}
                <div class="message-list-empty">
                    <p class="message-list-empty-text">No Latest Message</p>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    {% comment %}
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Related Deal</h3>
            </div>
            <div class="panel-body">
               
                <br />
                <ul class="news-list">
                    <table class="table table-striped">
                        <tbody>

                        
                        {% for deal in deal_list %}

                        <tr>
                            <td class="col-xs-10">{{deal.title}}</td>
                            <td class="col-xs-2"><i class="glyphicon glyphicon-time"></i> {{deal.update_time|date}}</td>
                        </tr>
                        {% empty %}
                            <p class="no-record-text">No record</p>

                        {% endfor %}
                       
                        </tbody>
                    </table>
                </ul>
                {% if deal_list_more_id %}
                <div class="news-list-view-all2">

                    <a href="{% url 'deal.industry' deal_list_more_id %}">More</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endcomment %}
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Comparable Companies</h3>
            </div>
            <div class="panel-body">
                <br />
                <div class="col-xs-6">
                    <table class="table">
                        <caption>
                            American
                        </caption>
                        <thead>
                        <tr>
                            <th>Listed Company</th>
                            <th>P/E</th>
                            <th>P/B</th>
                            <th>P/S</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in compare_usa %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.pe|floatformat:"0"}}</td>
                            <td>{{item.pb|floatformat:"0"}}</td>
                            <td>{{item.ps|floatformat:"0"}}</td>
                        </tr>
                        {% empty %}
                         <tr>
                            <td colspan="4">
                            <p class="no-record-text">No record</p>
                            </td>
                        </tr>
                        {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table">
                        <caption>
                            China
                        </caption>
                        <thead>
                        <tr>
                            <th>Listed Company</th>
                            <th>P/E</th>
                            <th>P/B</th>
                            <th>P/S</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in compare_en %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.pe|floatformat:"0"}}</td>
                            <td>{{item.pb|floatformat:"0"}}</td>
                            <td>{{item.ps|floatformat:"0"}}</td>
                        </tr>
                        {% empty %}
                         <tr>
                            <td colspan="4">
                            <p class="no-record-text">No record</p>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table">
                        <caption>
                            HongKong
                        </caption>
                        <thead>
                        <tr>
                            <th>Listed Company</th>
                            <th>P/E</th>
                            <th>P/B</th>
                            <th>P/S</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in compare_hk %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.pe|floatformat:"0"}}</td>
                            <td>{{item.pb|floatformat:"0"}}</td>
                            <td>{{item.ps|floatformat:"0"}}</td>
                        </tr>
                        {% empty %}
                         <tr>
                            <td colspan="4">
                            <p class="no-record-text">No record</p>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table">
                        <caption>
                            England
                        </caption>
                        <thead>
                        <tr>
                            <th>Listed Company</th>
                            <th>P/E</th>
                            <th>P/B</th>
                            <th>P/S</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in compare_uk %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.pe|floatformat:"0"}}</td>
                            <td>{{item.pb|floatformat:"0"}}</td>
                            <td>{{item.ps|floatformat:"0"}}</td>
                        </tr>

                        {% empty %}
                         <tr>
                            <td colspan="4">
                            <p class="no-record-text">No record</p>
                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="col-xs-3">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Visitors {% if visitors_count > 0 %}({{ visitors_count }}){% endif %}</h3>
                </div>
                <div class="panel-body">
                    {% if visitors %}
                    <ul class="members-list">
                    {% for visitor in visitors %}
                        <li class="members-item"> <a href="{% url 'account.profile' visitor.member.id %}">
                            <img src="{% url 'account.avatar' 80 80 visitor.member.avatar%}" class="thumbnail" />{{ visitor.member }} {{ visitor.member.company.short_name_en }}</a><br /> <small>{{ visitor.add_time|date:'Y-m-d' }}</small>
                        </li>
                    {% endfor %}
                    </ul>
                    {% if visitors_count > 6 %}
                    <div class="members-list-view-all">
                        <a href="###">More</a>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="members-list-empty">
                        <p class="members-list-empty-text">No Visitors</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">WatchList{% if followers_count > 0 %}({{ followers_count }}){% endif %}</h3>
                </div>
                <div class="panel-body">
                     {% if followers %}
                    <ul class="members-list">
                    {% for visitor in followers %}
                        <li class="members-item"> <a href="{% url 'account.profile' visitor.member.id %}">
                            <img src="{% url 'account.avatar' 80 80 visitor.member.avatar%}" class="thumbnail" />{{ visitor.member }} {{ visitor.member.company.short_name_en }}</a><br /> <small>{{ visitor.add_time|date:'Y-m-d' }}</small>
                        </li>
                    {% endfor %}
                    </ul>
                    {% if followers_count > 6 %}
                    <div class="members-list-view-all">
                        <a href="###">More</a>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="members-list-empty">
                        <p class="members-list-empty-text">No Record</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include "account/en-us/sendmessagemodal.html" %}
{% endblock %}
{% block footer %}
  <script>
    $("#tab-members-recommend li a").click(function(){
        var id = $(this).attr("rel");
        $(".members-list-of-recommend").hide();
        $("#members-list-"+id).show();
        $("#tab-members-recommend li").removeClass("active");
        $(this).parent().addClass("active");
    });
    $("#tab-members-pushed li a").click(function(){
        var id = $(this).attr("rel");
        $(".members-list-of-pushed").hide();
        $("#members-pushed-list-"+id).show();
        $("#tab-members-pushed li").removeClass("active");
        $(this).parent().addClass("active");
    });
    function saveRecommend() {
        var bool = false;
        var id = "";
        $("input[name='recommendChk']:checked").each(function () {
            var i = $(this).val();
            id  += i + ",";
            bool = true;
        });
        if (!bool) {
            custom_alert("请选择你要推荐的机构！")
        }
        else {
            var projectId = $("#project_id").val();
            $(".publishing").removeClass("hide_");
            $(".recommendDiv").addClass("hide_");
            var url = "/sales/save_recommend_company";
            $.post(url, {id: id.substring(0, id.length - 1), projectId: projectId}, function (data) {
                if (data == "success") {
                    custom_alert("推送成功");
                    location.href = location.href;
                } else {
                    custom_alert(data);
                }
                $(".publishing").addClass("hide_");
                $(".recommendDiv").removeClass("hide_");
            });
        }
    }

    $(".project_arrow_right").click(function() {
        var html = $(".members-already-recommend").children().eq(0);
        $(".members-already-recommend").children().eq(0).remove();
        $(".members-already-recommend").append(html);
    });

    $(".project_arrow_left").click(function() {
        var html = $(".members-already-recommend").children().last();
        $(".members-already-recommend").children().last().remove();
        $(".members-already-recommend").prepend(html);
    });

    $(".project_arrow_right_2").click(function() {
        for (var i = 0; i < 8; i ++) {
            var html = $(".members-recommend-list").children().eq(0);
            $(".members-recommend-list").children().eq(0).remove();
            $(".members-recommend-list").append(html);
        }
    });

    $(".project_arrow_left_2").click(function() {
        for (var i = 0; i < 8; i ++) {
            var html = $(".members-recommend-list").children().last();
            $(".members-recommend-list").children().last().remove();
            $(".members-recommend-list").prepend(html);
        }
    });
    </script>
{% endblock %}