<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>NewChama 让交易更简单</title>
    <meta name="Keywords" content="并购平台,融资平台,股权平台,股权信息发布,交易服务,纽熙,茶马,茶马古道 " /> 
    <meta name="Description" content="NewChama是全球领先的股权交易与并购信息平台。截止今天，平台上的项目发布已达到数百个。NewChama帮助项目寻找遍及全球的投资者；同时，也为买方定位优质项目，提供投资决策的信息支持。" />
    <link rel="shortcut icon" href="{{STATIC_PREFIX}}img/favicon.ico">
    <!-- Bootstrap -->
    <link href="{{STATIC_PREFIX}}home/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_PREFIX}}home/css/newchama_web.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{STATIC_PREFIX}}home/js/html5shiv.min.js"></script>
      <script src="{{STATIC_PREFIX}}home/js/respond.min.js"></script>
    <![endif]-->
     <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?690046ddb5b2d6eadafc3f2827c92b75";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  </head>
  <body style="padding-top:0px;">

  <!-- Fixed navbar -->
    <div class="my_nav" >
    
          <a class="logo" href="{% url 'account.gohome' %}"><img src="{{STATIC_PREFIX}}home/images/logo1.png" width="151" height="20"></a>
     
          <ul class="top-nav-right">
            <li><a href="{% url 'account.signup' %}"><span  class="btn btn-primary btn-sm">用户申请</span></a></li>
            <li style="margin-right:15px;"><a href="{% url 'account.login' %}"><span  class="btn btn-default btn-sm">登录</span></a></li>
            <!--<li style="padding-top:5px;"><a href="javascript:change_lang('en-us')" class="change_language"><i class="glyphicon glyphicon-globe"></i>&nbsp;EN</a></li>-->
        
          </ul>
       
    </div>



    <div class="container">

      <div class="bigtop">
        <div class="flow">
          <h3>NewChama</h3>
          <span>MORE THAN MEETS THE EYE</span>
          <p>NewChama是全球领先的股权交易与并购信息平台。截止今天，平台上的项目发布已达到数百个。NewChama帮助项目寻找遍及全球的投资者；同时，也为买方定位优质项目，提供投资决策的信息支持。</p>
          <a href="{% url 'home.products' %}" class="btn btn-success">了解详细</a>

        </div>
      </div>
      <div class="partner">
        <div class="partner_inner">
          <h3><strong>他们正在使用NewChama创造不可思议的事情</strong></h3>
          <div class="logo_block">
              <a href="###"><img src="{{STATIC_PREFIX}}home/images/logo/1.png"></a>
              <a href="###"><img src="{{STATIC_PREFIX}}home/images/logo/2.png"></a>
              <a href="###"><img src="{{STATIC_PREFIX}}home/images/logo/3.png"></a>
              <a href="###"><img src="{{STATIC_PREFIX}}home/images/logo/4.png"></a>
              <a href="###"><img src="{{STATIC_PREFIX}}home/images/logo/5.png"></a>
          </div>
          <!--<a href="###" class="btn_partner_more"></a>-->
        </div>
      </div>

      <div class="about_block1">
          <ul>
              <li>
                  <a href="{% url 'home.products' %}"><img src="{{STATIC_PREFIX}}home/images/a1.png" height="100"></a>
                  <h4>全球化交易平台</h4>
                  <p>NewChama，一个为融资和并购产业而生的全球化平台。汇聚交易发布、交易匹配、以及交易流程管理等功能。</p>
              </li>
              <li>
                  <a href="{% url 'home.products' %}"><img src="{{STATIC_PREFIX}}home/images/a2.png" height="100"></a>
                  <h4>最为高效的信息匹配方式</h4>
                  <p>NewChama基于丰富的投融资信息及行业数据累积，帮助用户做出更高效的项目选择和项目匹配。</p>
              </li>
              <li>
                  <a href="{% url 'home.products' %}"><img src="{{STATIC_PREFIX}}home/images/a3.png" height="100"></a>
                  <h4>最严格的安全性和隐私保护</h4>
                  <p>为您的交易私密性保驾护航，全方位保护用户及项目信息。</p>
              </li>
          </ul>
      </div>

      <div class="tv_block">
          <a class="btn_more2" href="{% url 'home.products' %}">了解更多</a>
          <span class="solgan">NewChama 创新交互式的全球股权交易信息平台</span>
      </div>

    </div> <!-- /container -->

    <div class="container">
      <div class="footer">
        <div class="container-fluid">
          <p><a href="{% url 'home.us' %}">关于我们</a>        ｜    <a href="{% url 'home.bd' %}">商务合作</a>    ｜    <a href="{% url 'home.contact' %}">联系方式</a>     ｜      <a href="{% url 'account.privacy' %}">隐私政策</a>     ｜      <a href="{% url 'account.user' %}">用户条款</a>       
          <p>版权所有 @2014  NewChama.com    沪ICP备14045386号</p>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{STATIC_PREFIX}}home/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{STATIC_PREFIX}}home/js/bootstrap.min.js"></script>
    <script src="{{STATIC_PREFIX}}js/common/lang.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57230495-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>