{% extends "common/zh-cn/nologin_base.html" %}
{% block content %}
    <div class="container-fluid" id="newchama_logo_main" style="width:70%;">
        <div class="col-xs-12">
            <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">关于NewChama</h3>
          </div>
          <div class="panel-body">
          <br/>
               

<h4>创新交互式的全球股权交易信息平台</h4>
<p>
NewChama，一个为融资和并购产业而生的全球化平台。汇聚交易发布、交易匹配、以及交易流程管理等功能。</p>
<p>
NewChama帮助私募基金、企业，投资银行将项目发布给遍及全球的投资者，并提供交易信息共享。同时，NewChama也为企业并购部门、家族基金等买方定位优质项目，以及投资决策的辅助信息支持。</p>

<br/>
<h4>Chama古道</h4>

<p>茶马古道起源于唐宋时期的“茶马互市”。康藏属高寒地区，藏民在长期的生活中，创造了喝酥油茶的高原生活习惯，但藏区不产茶。而在内地，民间役使和军队征战都需要大量的骡马，但供不应求。这样，藏区和川、滇边地出产的骡马、毛皮、药材和川滇及内地出产的茶叶、布匹、盐和日用器皿，在高山深谷间南来北往，流动不息，形成一条延续至今的“茶马古道”。</p>

<br/>
<br/>
<br/>

<p style="text-align:center"><img src="{{STATIC_PREFIX}}home/images/chama.jpg"></p>
<br/>
<h4 style="text-align:center">而我们，也要建立起一条行走的资本市场茶马道…</h4>
<br/>
<br/>

          
          </div>
        </div>
        </div>
    </div>
<div style="clear:both;"></div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/fix_height.js"></script>

   
{% endblock %}