{% load myTags %}
{% for message in t.message_list %}

    {% if message.sender.id == member.id%}
        <tr id="message_{{message.id}}">
            <td style="vertical-align:top;width:20px;">
                <input class="check_message" type="checkbox" name='check_message' value="{{message.id}}"></td>
            <td style="vertical-align:top;width:80px;">
                                            <span class="message-item-pic">
                                                <a href="{% url 'account.profile' message.receiver.id %}">
                                                    <img src="{% url 'account.avatar' 60 60 message.receiver.avatar %}" class="thumbnail">
                                                </a>
                                            </span>
            </td>

            <td>
                <div class="pull-left col-xs-10">

                    <a href="{% url 'account.profile' message.receiver.id %}">{{message.receiver}} {{message.receiver.company.name_cn}}{% if message.receiver.position_cn %} | {{ message.receiver.position_cn }}{% endif %}</a>&nbsp;

                    <p>
                        {% if message.message.is_read == False and message.receiver.id == member.id %}
                                                                <span id="new_badge_num" ref="{{ message.receiver.id }}"></span>
                        {% endif %}{{message.message.content|safe}}</p>
                    <p>


                        <button class="btn-xs btn-primary show_message_model_btn" data-receiver-type="0"  data-item-id="{{ message.receiver.id }}" data-receiver-id="{{ message.receiver.id }}"  data-receiver-name="{{ message.receiver }}"  data-receiver-pic="{% url 'account.avatar' 28 28 message.receiver.avatar %}" data-sender-id="{{ message.sender.id }}"  data-sender-name="{{ message.sender }}" data-sender-pic="{% url 'account.avatar' 28 28 message.sender.avatar %}"><i class="glyphicon glyphicon-envelope"></i>&nbsp;回复</button>

                        <button class="btn-xs btn-primary remove_message_with_person_btn" rel="{{message.id}}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
                    </p>

                </div>

            </td>
            <td style="vertical-align:top;width:100px;">

                <p class="message-time">{% comment %}<i class="glyphicon glyphicon-time"></i>{% endcomment %}&nbsp;{{message.update_time | caculate }}</p>
            </td>

        </tr>

    {% else %}

        <tr id="message_{{message.id}}">
            <td style="vertical-align:top;width:20px;">
                <input class="check_message" type="checkbox" name='check_message' value="{{message.id}}"></td>
            <td style="vertical-align:top;width:80px;">
                                            <span class="message-item-pic">
                                                <a href="{% url 'account.profile' message.sender.id %}">
                                                    <img src="{% url 'account.avatar' 60 60 message.sender.avatar %}" class="thumbnail">
                                                </a>
                                            </span>
            </td>

            <td>
                <div class="pull-left col-xs-10">

                    <a href="{% url 'account.profile' message.sender.id %}">{{message.sender}} {{message.sender.company.name_cn}}{% if message.sender.position_cn %} | {{ message.sender.position_cn }}{% endif %}</a>&nbsp;

                    <p>
                        {% if message.message.is_read == False and message.receiver.id == member.id %}
                                                                <span id="new_badge_num" ref="{{ message.receiver.id }}"></span>
                        {% endif %}{{message.message.content|safe}}</p>
                    <p>


                        <button class="btn-xs btn-primary show_message_model_btn"  data-receiver-type="0"  data-item-id="{{ message.receiver.id }}" data-receiver-id="{{ message.sender.id }}"  data-receiver-name="{{ message.sender }}"  data-receiver-pic="{% url 'account.avatar' 28 28 message.sender.avatar %}" data-sender-id="{{ message.receiver.id }}"  data-sender-name="{{ message.receiver }}" data-sender-pic="{% url 'account.avatar' 28 28 message.receiver.avatar %}"><i class="glyphicon glyphicon-envelope"></i>&nbsp;回复</button>

                        <button class="btn-xs btn-primary remove_message_with_person_btn" rel="{{message.id}}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
                    </p>

                </div>

            </td>
            <td style="vertical-align:top;width:100px;">

                <p class="message-time">{% comment %}<i class="glyphicon glyphicon-time"></i>{% endcomment %}&nbsp;{{message.update_time | caculate }}</p>
            </td>

        </tr>

    {% endif %}

{% endfor %}
