{% extends "common/zh-cn/base.html" %}
{% load pagination_tags %}
{% load tz %}
{% block content %}
    <div class="container-fluid" id="newchama_main">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">我的消息</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class='{% ifequal message_type "unread" %}active{% endifequal %}'>
                            <a href="{% url 'account.notifications' %}">未读消息</a>
                        </li>
                        <li class="{% ifequal message_type 'read' %}active{% endifequal %}">
                            <a href="{% url 'account.notifications_read' %}">已读消息</a>
                        </li>
                        <li class="{% ifequal message_type 'send' %}active{% endifequal %}">
                            <a href="{% url 'account.notifications_send' %}">我发送的消息</a>
                        </li>
                    </ul>
                    <br/>
                    {% if message_list %}
                        <ul class="message-list">
                            {% for message in message_list %}
                                <li class="message-item">
                                    <div class="pull-left col-xs-10">
                                        {% ifequal message_type 'send' %}
                                            {% if message.type_relation == 1 and message.project.is_anonymous and message.project.member.id == message.receiver.id or message.type_relation == 2 and message.demand.is_anonymous and message.demand.member.id == message.receiver.id%}
                                                <span class="message-item-pic">
                                                 <img src="{% url 'account.avatar' 60 60 'default.jpg' %}" alt="anonymous" style="width: 70px;" />
                                                </span>
                                                <strong>匿名发布</strong>({{ message.receiver.company.get_type_display }})
                                            {% else %}
                                                <span class="message-item-pic">
                                                <a href="{% url 'account.profile' message.receiver.id %}">
                                                    <img src="{% url 'account.avatar' 60 60 message.receiver.avatar %}" class="thumbnail">
                                                </a>
                                                </span>
                                                <a href="{% url 'account.profile' message.receiver.id %}">{{message.receiver}} {{message.receiver.company.short_name_cn}}</a>({{ message.receiver.company.get_type_display }})&nbsp;
                                            {% endif %}
                                        {% endifequal %}
                                        {% ifnotequal message_type 'send' %}
                                            {% if message.type_relation == 1 and message.project.is_anonymous and message.project.member.id != message.receiver.id or message.type_relation == 2 and message.demand.is_anonymous and message.demand.member.id != message.receiver.id %}
                                                <span class="message-item-pic">
                                                 <img src="{% url 'account.avatar' 60 60 'default.jpg' %}" alt="anonymous" style="width: 70px;" />
                                                </span>
                                                <strong>匿名发布</strong>({{ message.sender.company.get_type_display }})
                                            {% else %}
                                            <span class="message-item-pic">
                                                <a href="{% url 'account.profile' message.sender.id %}">
                                                    <img src="{% url 'account.avatar' 60 60 message.sender.avatar %}" class="thumbnail">
                                                </a>
                                            </span>
                                            <a href="{% url 'account.profile' message.sender.id %}">{{message.sender}} {{message.sender.company.short_name_cn}}</a>({{ message.sender.company.get_type_display }})&nbsp;
                                            {% endif %}
                                        {% endifnotequal %}
                                        {% ifequal message.type_relation 1 %}
                                            <a href="{% url 'sales.detail' message.project.id %}">{{message.project.name_cn}}</a>
                                        {% endifequal %}
                                        {% ifequal message.type_relation 2 %}
                                            <a href="{% url 'purchase.detail' message.demand.id %}">{{message.demand.name_cn}}</a>
                                        {% endifequal %}
                                        <p class="message-time"><i class="glyphicon glyphicon-time"></i>&nbsp;{{message.add_time | localtime }}</p>
                                        <p>{{message.content|safe}}</p>
                                    </div>
                          <span class="pull-right">
                              {% ifequal message_type "unread" %}
                                  <button class="btn-xs btn-primary see_message_btn" rel="{{message.id}}"><i class="glyphicon glyphicon-check"></i>&nbsp;已读</button>
                              {% endifequal %}
                          {% if message.type_relation == 1 %}
                              <button class="btn-xs btn-primary send_message_btn" rel="{{message.id}}" data-message-id="{{ message.project_id }}" data-message-type="{{ message.type_relation }}" data-reply-id="{{ message.sender.id }}"><i class="glyphicon glyphicon-envelope"></i>&nbsp;回复</button>
                          {% elif message.type_relation == 2 %}
                              <button class="btn-xs btn-primary send_message_btn" rel="{{message.id}}" data-message-id="{{ message.demand_id }}" data-message-type="{{ message.type_relation }}" data-reply-id="{{ message.sender.id }}"><i class="glyphicon glyphicon-envelope"></i>&nbsp;回复</button>
                          {% else%}
                              <button class="btn-xs btn-primary send_message_btn" rel="{{message.id}}" data-message-id="{{ message.sender.id }}" data-message-type="{{ message.type_relation }}"><i class="glyphicon glyphicon-envelope"></i>&nbsp;回复</button>
                          {% endif %}
                          <button class="btn-xs btn-primary remove_message_btn" rel="{{message.id}}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
                          </span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="message-list-view-all">
                            <a href="javascript:;" id="loader" style="display:none"><img src='{{STATIC_PREFIX}}img/loaders/ajax-loader.gif'></a>
                            <a href="javascript:loadData();" id="load_btn">展开</a>
                        </div>
                    {% else %}
                        <div class="message-list-empty">
                            <p class="message-list-empty-text">暂时没有留言</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "account/zh-cn/sendmessagemodal.html" %}
    <script>
        page = 1;
        function loadData() {
            $("#load_btn").hide();
            $("#loader").show();
            page++;
            var pagesize=10;
            var url = "/account/ajax_notifications?page="+page+"&pagesize="+pagesize+"&message_type={{ message_type }}";
            $.get(url,function (data) {
                var newData = data.replace(/\s/g,'');
                if(newData) {
                    $(".message-list").append(data);
                }
                else {
                    $("#load_btn").remove();
                }
                $("#load_btn").show();
                $("#loader").hide();
            });
        }
    </script>
{% endblock %}