{% extends "common/zh-cn/nologin_base.html" %}
{% block content %}
    <div class="container-fluid" id="newchama_logo_main" style="width:50%;">
        <div class="col-xs-12">
            <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">系统提示</h3>
          </div>
          <div class="panel-body">
          <br/>
          <h5>感谢您的提交，我们已经收到您的申请资料</h5>
          <p>欢迎加入NewChama平台，开启您的股权交易之旅。请访问邮箱，点击激活您的账户。</p>
          <p>如果您有任何问题，欢迎与我们联系，business@newchama.com</p>

          <br/>
          <br/>

          
          </div>
        </div>
        </div>
    </div>
<div style="clear:both;"></div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/fix_height.js"></script>
{% endblock %}