{% extends "common/zh-cn/nologin_base.html" %}
{% block content %}
    <div class="container-fluid" id="newchama_logo_main" style="width:50%;">
        <div class="col-xs-12">
            <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">系统提示</h3>
          </div>
          <div class="panel-body">
          <br/>
           <h5>感谢您的提交，我们已经收到您的申请资料</h5>
          <p>我们已经收到您的提交申请，为了保证平台的项目质量，我们会在24小时内对个人邮箱的注册用户进行身份确认，并以邮件或者电话的形式第一时间给您回复，请耐心等候。</p>

          <br/>
          <br/>

          
          </div>
        </div>
        </div>
    </div>
<div style="clear:both;"></div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/fix_height.js"></script>
{% endblock %}