{% extends "common/zh-cn/nologin_base.html" %}
{% block content %}
    <div class="container-fluid" id="newchama_logo_main" style="width:70%;">
        <div class="col-xs-12">
            <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">用户条款</h3>
          </div>
          <div class="panel-body">
          <br/>
<h5>接受条款</h5>
<p>NewChama（“服务”）为位于上海市南京西路1266号，恒隆广场1栋，1201室之纽熙（上海）网络科技有限公司（“NewChama”, “我们”）提供之服务。您只有仔细阅读并同意下列所有服务条款，才能成为使用www.NewChama.com网站（“网站”）上的相应服务。</p> 
<p>您一旦使用网站的服务，即视为您已了解并完全同意本服务条款各项内容。本服务条款，包括我们的隐私政策和免责声明，构成你与NewChama之间的具有法律约束力的协议。【如你在访问网站和/或服务的过程中就职于与NewChama签署订阅协议（“订阅协议”）之机构，你也将被视为已被接受，并遵守这些条款。】
NewChama有权根据需要随时修改本服务条款之任何内容。变更后的协议和规则一经在网站公布后，立即自动生效。您若继续使用情报网平台服务的，即表示您接受经修订的协议和条款。你应该经常复查这些条款和适用规定以了解适用于您使用本网站和服务的条款和条件。</p>

<h5>注册以及信息</h5>
<p>你保证任何和所有您所提供的信息（包括您所提供的注册信息）是真实，准确和完整。您若注册即表示您有权利（或已拿到授权）发布您在网站上或服务中所发布之信息。如果这些信息有任何变更您将及时通知我们。您同意不假冒其他人或未经过授权的机构的身份或使用虚假的姓名或名称。NewChama不验证您在网站上所发布的信息，但有权决定删除（但没有义务去查询）任何违反本规定的信息。NewChama有权要求有可能违反本规定的用户提供额外证据以证明其信息符合本条款。 NewChama保留权利拒绝或暂停提供服务给任何我们认为违反本条款的用户。</p>

<p>本网站发布之信息或所提供的服务仅为一般参考之用，并不构成房地产，法律，税务，会计，或其他专业意见。用户在NewChama所提供之信息或服务的基础上采取任何在行动之前，请先咨询相应的专业人士。</p>

<h5>网站访问</h5>
<p>为了提高用户体验，您同意NewChama 在没有通知您的情况下可以自主决定改变网站的结构以及结构。</p>

<h5>您具体同意：</h5>
<p>NewChama可对您停止提供的任何或所有的网站和/或服务；</p>

<p>如果NewChama（在我们的判断）认为您的带宽使用超出合理水平，NewChama可以减少或阻止你继续访问我们的网站。
</p>

<p>除非我们另有规定，访问我们网站并无任何费用。因此，您必须遵守并同意履行这些条款。</p>

<h5>隐私</h5>
<p>您在使用网站的过程，包括任何注册过程中，可能会涉及到你对NewChama披露专有信息，其中可能包括非公开信息包括商业机密，过程，公式，数据，知识，技术的改进，发现，开发，设计，发明，技术，所有的技术资料，客户和供应商的名单，财务信息，以及上述的所有修改或增强，软件程序和其他对您或是您代表的第三方有实际或潜在经济价值的书面或是非书面信息（“专有信息”）。如果您披露专有信息：</p>
<p>您对NewChama保证你已经获得所有的同意和许可，并对这样的信息披露和许可的目的已采取一切适用法律所需要必要的行动，授权给NewChama（按照本协议之第六条款）以允许我们按照本网站的隐私政策在网站上使用任何您披露的第三方专有信息；和 您同意我们按照网站的隐私政策使用任何有关您的个人信息。</p>
<p>NewChama不负责检查用户提交的信息的准确性。您同意NewChama有权使用任何您张贴在网站上或提供给我们的所有信息，包括对上述全部或部分信息在互联网上公布，以允许我们网站用户无限制访问以及使用。 NewChama没有义务(i) 解决网站或服务用户之间的纠纷；或（ii）监视或验证任何用户上传的信息的准确性和正确使用，虽然NewChama有权利这么做。</p>

<h5>使用限制</h5>
<p>您必须按照这些条款的规定，并可按照任何有关法律和/或法规的任何有关监管机构的规定，使用本网站。除非另有NewChama的书面同意，您同意本网站仅供您个人非商业用途或利益使用。</p>
<p>你同意不使用（或试图使用），任何自动化的手段监视和/或复制网站的任何信息，包括使用代理工具，机器人，【网络蜘蛛，代码或网络爬虫】。</p>
<p>您同意您不参加任何干扰或破坏网站或其服务器以及网络的活动。</p>
<p>您同意仅使用网站，服务，和通过网站访问的任何数据库（“数据库”）为自己的私人目的（除非NewChama另行书面同意）。举个例子，在我们没有事先书面同意的情况下，您不能复制全部或部分网站或任何数据库中的内容以提供给第三方使用。你承认每个数据库是经过大量的时间、精力和金钱支出所创建的，并且是NewChama和/或我们的附属组织的宝贵知识产权。【如您的使用本服务和/或网站中的数据库是基于与我们签署的有效用户协议，您同意仅以用户内部的商业目的使用任何搜索输出的副本。】</p>
<p>NewChama禁止用户使用网站或网站上的信息生成或发送垃圾邮件。 </p>
<p>用户不得发送垃圾邮件或以其他违反本服务协议的方式传送任何内容。</p>

<h5>知识产权</h5>
<p>本网站所包含的信息（包括文字，数据文件，视频，音频，图形和其他内容）（“内容”）是受到国家以及国际版权，商标，以及其他知识产权法律所保护的。 您同意遵守所有其的适用于您的法律。</p>
<p>除这些条款允许，您不得因任何原因复制，或使用本网站、服务和/或任何数据库的任何部分或使用任何该等知识产权。特别是你不可以修改，出租，租赁，借出，出售，分销或制作衍生的作品基于内容（全部或部分）除非您在另一份协议中被我们或是内容所有者特别允许。</p>
<p>您不可使用属于NewChama或是任何第三方的任何商标，商号，服务商标，版权，标识，域名等品牌特征，除非您有有效的书面许可。您同意不修改，删除或掩盖任何在网站中所出现的所有权声明（包括版权以及商标公告）。</p>
<p>NewChama不负责管理您和/或您的关联机构提供的任何内容的使用。 </p>

<p>同时，您必须独立负责保护和执行您所提供的内容的任何权益。 如果您所创建、提供、或是显示的任何内容在使用本网站的过程中产生任何诉讼，你应当赔偿NewChama所有损失并保障NewChama使免于受罚。</p>
<p>一旦您提交内容到本网站，您同意授权给NewChama一个永恒的，不可撤销的，无版权使用费和非独家许可允许NewChama独立决定使用和/或更改您以任何信息提交给我们的内容 （包括不使用其信息，部分使用信息，删除信息，或归档信息供以后使用）。您同意，作为提供网站的技术过程的一部分，我们可以通过各种公共网络和各种媒体传送或发布您的内容。</p>
<p>在本服务协议中的知识产权是指所有的知识产权，已注册和未注册（包括任何应用程序），包括著作权，数据库所有权，专利，专利申请，专利权，设计权，商标，商标申请，商标注册，商标权，商业机密和所有其他知识产权及专有信息权利（无论现在存在或未来存在），上述所有的修改，更新和延续，和所有的索赔，诉讼，损害赔偿，诉讼，赔偿，费用，利润，处罚，在任何国家或区域法律下产生的所有有关上述侵权的赔偿。</p>

<h5>期限和终止</h5>
<p>本协议从您访问的网站的日期起效，并在任何您使用网站时继续有效。</p>
<p>NewChama保留权利自行决定在不通知您的情况下终止您使用或访问我们的网站或服务，并阻止或防止未来的使用或访问我们的网站。NewChama 如有任何理由相信用户所提交或使用的个人或财务信息为虚假的，或是用户的行为构成了一个不公平的或欺骗性行为，NewChama有权自行决定暂停用户使用或访问我们的网站或服务。为了遵守法律规定（例如，政府的监管行动，执法，法院传单）或启动，渲染，计费和收款或保护我们或我们用户权利或财产，NewChama有权访问，使用和披露您在使用网站或是服务中的任何交易信息；启动，渲染，账单，并收集其服务或保护权利或财产，或使用其服务的用户。您同意上述披露行为将不违反我们的隐私条款。 </p>
<p>本协议之终止将不影响任何您或NewChama在终止日期时已存在的权益。在本协议终止后，条款2，4，6，7，8，9，12，13.2，13.3和14将继续具有完全的效力。</p>
<p>你承认NewChama有权在本协议终止后立即中断您在本网站所使用的所有密码。 如果NewChama自行认为您的使用对我们或是我们网站的利益受到损害，我们有权在不通知您的情况下立即中断您在本网站所使用的所有密码。</p>

<h5>责任限制和赔偿</h5>
<p>我们对我们所发布的信息，提供的服务和数据没有任何类型的保证或担保（包括任何潜在、明确、或是法律保证或担保）。我们，我们的附属机构，管理层，董事，雇员，代理人，分包商，第三方内容提供商，供应商，赞助商，授权者等不对我们其信息、服务以及数据作出任何陈述或保证，包括，但不限于，任何对适销性，特定用途合适性，拥有权，非侵权，或该网站不会中断或没有错误；我们也不保证任何信息的准确性，可靠性或及时性。 同时我们也不保证或担保任何内容或服务，包括他们的准确性，操作，符合任何表示或描述，或任何潜在的或显露缺陷的存在。并NewChama特别声明不承担上述的任何责任。 如果您所在的管辖范围内法律不允许潜在保证免责，上述不适用于您。本保证赋予您特定的法律权利，你也可能有其他合法的权利。</p>
<p>无论在任何情况下，我们或任何其他方参与创造，生产或销售本网站，其内容或服务，都不对因为本网站或服务的使用或无法使用承担任何直接，间接，附带的责任，特别或间接的损害赔偿，包括但不限于，任何用户依赖于我们提供的任何信息导致的损害赔偿；或从信息错误，遗漏，中断或文件或邮件的删除，错误，缺陷，病毒，操作或传输延迟，或任何的性能以及通讯故障，盗窃，破坏或未经授权的访问，程序或服务。您是根据您自己的判断和承担风险的限度从网站获得内容或下载数据，所以您将全权负责通过此类资料下载或访问数据对您的计算机系统或其他装置或数据任何损害，损失，损害。所有明确的或含蓄的、按法令、习惯法规定的、或其它与特定服务有关的条款、保证、担保和代表（除法律不允许公司排除拒绝或限制的任何责任之外）由此尽法律允许的最大范围排除在外。</p>
<p>无论我们是否知道或是应该知道任何损失发生的可能性，本条款8对于NewChama的责任限制将持续有效。</p>
<p>如果这些条款中排除的任何事件因任何原因被视为无效，我们对您的总责任将限于您在过去12个月支付给我们的产品和/或服务的费用或1000美元，选其中之少数。因为您不需要为本协议中提供的授权支付任何费用，你承认上述的赔偿限制是合理的。</p>
<p>你应当赔偿NewChama所有损失并保障NewChama使免于受罚任何索赔，诉讼，要求，损失，或损害（包括律师费）起源于（i）任何第三方的索赔起源于或关于您使用本网站或其中包含的任何信息；（ii）您与网上其他用户或联系人的任何关于您发布的消息的任何争执；和（iii）您违反本协议所导致之损失。
条款8中的“网站“引用应视为包括服务和/或任何及所有数据库的引用。</p>

<h5>第三方软件</h5>
<p>为了让您能充分利用本网站，服务和/或任何数据库，您可能需要使用特殊的计算机设备或下载或安装某些软件。如果您因为您没有获取任何必要的软件或设备导致您无法访问所有或部分的网站，这并不构成NewChama违反这些条款而我们将不承担因您无法访问本网站，服务和/或数据库导致的任何损失，损害或费用。</p>

<h5>链接</h5>
<p>我们保留权利拒绝任何链接到我们认为不适当的网站的申请。</p>
<p>本网站可能包含链接让您轻松访问第三方网站。您承认并同意，我们没有任何在这些网站的控制权，所以我们不对该等外在网站或资源的可用性负责，且不认可该等网站或资源上或可从该等网站或资源获取的任何内容、宣传、产品、服务或其他材料，也不对其等负责或承担任何责任。 您进一步承认和同意，对于任何因使用或信赖从此类网站或资源上获取的此类内容、宣传、产品、服务或其他材料而造成（或声称造成）的任何直接或间接损失，NewChama均不承担责任。</p>

<h5>审核</h5>
<p>你给予我们对您在本网站所有使用的审核权，以确保您遵守本协议。</p>

<h5>保密</h5>
<p>你应当保密，不得为任何目的使用不允许在这些条款不得透露任何密码，您对网站的使用你的应用。</p>

<h5>其他条款</h5>
<p>本协议中的条款是可分割。全部或部分条款的无效将不影响任何其他条款的有效性或可执行性。倘若本协议任何规定被裁定为无效或不可强制执行，该项规定应被撤销，而其余规定应予执行，并应视为在尽可能广泛的方式实现其条款的规定。各方进一步同意替换无效或不可强制执行的条款以在可能的范围内达到其经济，商业和其他用途的目的。 </p>
<p>你不得转让您在本协议中的任何权利或义务。NewChama可在不通知您的情况下随时转让我们全部或任何权利或义务。
NewChama如在用户违反任何条款时选择不执行本协议中的任何条款不应被解释或视为放弃我们的权利，也不得以任何方式影响了这些条款的全部或任何部分的有效性，也不妨碍我们后续采取行动的权利。</p>

<p>本协议构成您和NewChama之间关于这些条款的全部协议，并取代您和NewChama先前订立的任何书面或口头协议。无论您或NewChama在同意本协议的过程中均没有依赖另一方的任何声明或保证。本协议中的所有条款标题仅为方便参阅而设，并不以任何方式界定、限制、解释或描述该条款的范围或限度。</p>

<h5>法律以及管辖</h5>

<p>本协议应受中华人民共和国法律管辖并根据其法律解释。任何因本协议或本协议的违约、终止、无效所产生或与其有关的任何形式的争议应提交给位于上海的中国国际经济贸易仲裁委员会进行仲裁。仲裁裁决应为终局的，并对双方具有约束力。仲裁应根据仲裁委员会在申请仲裁时有效的仲裁规则进行。您或NewChama可在仲裁未完成前向有管辖权的法院寻求任何临时禁令以保护您或NewChama的权利或财产。在仲裁胜诉方将有权要求败诉方支付所有费用，包括合理的律师费。</p>


<h5>语言</h5>
<p>本使用条款以中文和英文书写，两种文本有同等效力。在两种语言之间的冲突的情况下，以中文版为准。</p>



          <br/>

             
          </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block footer %}


   
{% endblock %}