<!DOCTYPE html>
<head>
  <title>NewChama</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <style type="text/css">
	body{padding: 0;margin: 0;}
  </style>
</head>

<body>

<div style="background:#16a085; padding:0em 1em;">
      <a href="http://www.newchama.com/">
        <img src="http://www.newchama.com/static/img/logo.png" alt="NewChama">
      </a>
</div>

<div style="padding:1em 2em;">
      
      <h3>{{title}}</h3>
      
      <p>公司名称：{{ company_name }}</p>

      <p>联系人姓名：{{ contact_name }}</p>

      <p>联系人职称：{{ contact_title }}</p>

      <p>联系电话：{{ contact_tel }}</p>

      <p>邮箱地址：{{ contact_email }}</p>

      <h3>说明</h3>
      
      <p>{{ contact_desc }}</p>

    <div style="margin-top:2em;">
    <hr>
    <p>&copy; 2014 NewChama.com</p>
    </div> 

</div> 


</body>
</html>
